.mega-menu
    .mega-menu__window(data-mega-menu-dropdown="clothes")
        .container
            .mega-menu__window--wrapper
                .mega-menu__window-row.d-flex.justify-content-between
                    .mega-menu__window-col
                        .mega-menu__window-heading.is-hidden
                            | &nbsp;
                        .mega-menu__window-nav
                            a(href="#").mega-menu__window-nav--item.menu-item Бестселлеры
                            a(href="#").mega-menu__window-nav--item.menu-item Ограниченное <br> предложение
                    .mega-menu__window-col
                        .mega-menu__window-heading
                            | Категории
                        .mega-menu__window-nav
                            .mega-menu__window-nav--row.d-flex
                                div
                                    a(href="#").mega-menu__window-nav--item.menu-item Костюмы
                                    a(href="#").mega-menu__window-nav--item.menu-item Жакеты
                                    a(href="#").mega-menu__window-nav--item.menu-item Платья
                                    a(href="#").mega-menu__window-nav--item.menu-item Юбки
                                    a(href="#").mega-menu__window-nav--item.menu-item Брюки
                                div
                                    a(href="#").mega-menu__window-nav--item.menu-item Комбинезоны
                                    a(href="#").mega-menu__window-nav--item.menu-item Блузы
                                    a(href="#").mega-menu__window-nav--item.menu-item Топы
                                    a(href="#").mega-menu__window-nav--item.menu-item Трикотаж
                                    a(href="#").mega-menu__window-nav--item.menu-item Верхняя одежда

                    .mega-menu__window-col
                        .mega-menu__window-heading
                            | Стиль
                        .mega-menu__window-nav
                            a(href="#").mega-menu__window-nav--item.menu-item Business
                            a(href="#").mega-menu__window-nav--item.menu-item Casual
                            a(href="#").mega-menu__window-nav--item.menu-item Cocktail
                            a(href="#").mega-menu__window-nav--item.menu-item Weekend
                            a(href="#").mega-menu__window-nav--item.menu-item Натуральная кожа
                            a(href="#").mega-menu__window-nav--item.menu-item Кашемир

                    .mega-menu__window-col
                        a(href="#").mega-menu__window-img
                            +lazyPicture({
                                src: '/images/header/mega-menu-img.jpg',
                                alt: '',
                            })
