.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  &-img {
    display: block;
    border-radius: 6px;
    overflow: hidden;
    picture {
      display: block;
    }

    img {
      display: block;
    }

    &--wrapper {
      position: relative;
    }
  }

  &-favorite {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    color: $color-dark-golden;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    &--wrapper {
      display: flex;
    }

    &-name {
      display: block;
      font-weight: 300;
      font-size: 18px;
      line-height: 1.11;
      color: $color-cold-brown;
      @include media-breakpoint-down(xl) {
        font-size: 14px;
      }
    }

    &-tag {

    }

    &-price {
      margin-left: 12px;
      white-space: nowrap;

      @include media-breakpoint-only(xs) {
        margin-left: 0;
        display: flex;
        align-items: center;
      }
      &--current {
        font-weight: 300;
        font-size: 18px;
        line-height: 1.11;
        @include media-breakpoint-down(xl) {
          font-size: 14px;
        }
      }

      &--old {
        text-align: right;
        margin-top: 6px;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.4375;
        text-decoration-line: line-through;
        color: $color-silver-brown;
        @include media-breakpoint-down(xl) {
          font-size: 12px;
        }
        @include media-breakpoint-only(xs) {
          text-align: left;
          margin-top: 0;
          margin-left: 4px;
        }
      }
    }

  }

  &-color {
    color: $color-cold-brown;
    span {
      color: $color-silver-brown;
    }
  }

  &-add2cart {
    width: 100%;
    display: block;
    text-align: center;
  }

  @include media-breakpoint-down(md) {
    .mb-12 {
      margin-bottom: 6px;
    }
    .mt-12 {
      margin-top: 6px;
    }
  }


  &-lookbook {
    display: flex;
    flex-direction: row;
    &--img {
      margin-right: 6px;
      width: 196px;
      flex: 0 0 196px;
    }
    &__content {
      margin-bottom: auto;
      &--wrapper {
        display: flex;
        flex-direction: column;
      }
      &-name {
        font-size: 16px;
        line-height: 1;
        margin-bottom: 6px;
      }
      &-price {
        display: flex;
        &--current {

        }
        &--old {
          margin-left: 6px;
          margin-top: 0;
        }
      }
    }
  }
}