.row-cols-lg-3 {
  .catalog-item {
    @include media-breakpoint-up(lg) {
      margin-top: 48px;
      &:nth-child(-n+3) {
        margin-top: 0;
      }
    }
  }
}
.row-cols-lg-2{
  .catalog-item {
    @include media-breakpoint-up(lg) {
      margin-top: 48px;
      &:nth-child(-n+2) {
        margin-top: 0;
      }
    }
  }
}

.row-cols-2 {
  .catalog-item {
    @include media-breakpoint-down(sm) {
      margin-top: 36px;
      &:nth-child(-n+2) {
        margin-top: 0;
      }
    }
  }
}

.row-cols-sm-2{
  .catalog-item {
    @include media-breakpoint-between(sm, lg) {
      margin-top: 48px;
      &:nth-child(-n+2) {
        margin-top: 0;
      }
    }
  }
}

.row-cols-sm-1 {
  .catalog-item {
    @include media-breakpoint-between(sm, lg) {
      margin-top: 48px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}