.order {
    font-weight: 300;
    .order-page {
        .mb-70 {
            margin-bottom: 63px;
        }
        .form-control--input:not(:placeholder-shown) {
            padding: 28px 11px 10px;
        }
        .form-row {
            margin-bottom: 12px;
        }
        .btn-primary.btn-next {
            margin-top: 24px;
            width: 296px;
            max-width: 100%;
        }
        
        .recipient-block {
            max-width: 295px;
            h3 {
                margin-bottom: 22px;
            }
        }
        .back {
            display: flex;
            flex-direction: row;
            width: 100px;
            align-items: center;
            margin-bottom: 60px;
            svg {
                width: 24px;
                height: 24px;
            }
            span {
                font-style: normal;
                font-size: 14px;
                line-height: 18px;
                text-transform: uppercase;
            }
        }
        .order-aside {
            width: 273px;
            padding: 24px;
            padding-bottom: 50px;
            background: #F7F7F7;
            position: sticky;
            top: 20px;
            float: right;
            border-radius: 6px;
            @include media-breakpoint-down(lg) {
                width: 100%;
                margin-top: 44px;
                padding-bottom: 37px;
            }
            .checkbox-wrap {
                width: 100%;
                padding-right: 40px;
                margin-top: 20px;
                border-top: 1px solid #e0e0e0;
                padding-top: 30px;
            }
            .btn-sub-asid {
                width: 100%;
                margin-top: 16px;
            }
            .order-info {
                
                &.headline {
                    font-size: 18px;
                    margin-top: 2px;
                    border-bottom: 1px solid #E0E0E0;
                    padding-bottom: 25px;
                    @include media-breakpoint-down(lg) {
                        font-size: 16px;
                        margin-top: 16px;
                        padding-bottom: 14px;
                    }
                }
                margin-top: 26px;
                font-size: 18px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @include media-breakpoint-down(lg) {
                    font-size: 16px;
                }
                span {
                    color: $color-silver-brown;
                }
                span + span {
                    margin-top: 4px;
                    color: $color-black;
                    @include media-breakpoint-down(lg) {
                        margin-top: 1px;
                    }
                }
                & + .order-info + .order-info {
                    margin-top: 14px;
                }
            }
            .grey-line {
                margin-top: 22px;
            }
            .order-total {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-style: normal;
                color: #000000;
                font-size: 18px;
                margin-top: 16px;
                @include media-breakpoint-down(lg) {
                    margin-top: 12px;
                    font-size: 16px;
                }
                span + span {
                    font-size: 19px;
                    font-weight: 500;
                    margin-top: 3px;
                }
            }
        }
        
        .order-data-completed {
            margin-bottom: 50px;
            margin-top: 9px;
            .order-data-completed-info {
                margin-bottom: 18px;
            }
        }
        .get-way {
            margin-top: 46px;
            h3 {
                font-size: 30px;
                margin-bottom: 22px;
            }
            .select-city {
                width: 264px;
                // margin-bottom: 24px;
                .select2-search--dropdown.select2-search--hide {
                    display: block;
                }
            }
            
        }
        .tabs-wrapper {
            .delivery-info {
                max-width: 600px;
            }
            &.delivery-way {
                margin-top: 23px;
            }
            #salon-list {
                max-height: 650px;
                overflow-y: auto;
            }
            .select-tabs.tabs-primary {
                justify-content: start;
                @include media-breakpoint-down(lg) {
                    width: 100%;
                    
                }
                
                .border-wrapper {
                    position: static;
                    bottom: 0;
                    padding: 5px;
                    border-radius: 6px;
                    background-color: #F7F7F7;
                    border: none;
                    color: $color-silver-brown;
                    @include media-breakpoint-down(md) {
                        width: 100%;
                        justify-content: space-around;
                    }
                    .tab-label {
                        &:hover {
                            padding: 0 11px;
                            background: #fff;
                            height: 42px;
                            margin-top: 0;
                            border-bottom: none;
                            color: $color-dark-golden;
                            border-radius: 6px;
                        }
                        top: 0;
                        margin: 0 9px;
                        padding: 11px;
                        &:first-of-type {
                            margin-left: 0;
                        }
                        &:last-of-type {
                            margin-right: 0;
                        }
                        &.active {
                            padding: 0 11px;
                            background: #fff;
                            margin-top: 0;
                            border-bottom: none;
                            color: $color-dark-golden;
                            border-radius: 6px;
                            box-shadow: 1px 1px 10px #e7e7e7;
                        }
                    }
                }
            }
            .delivery-period-info {
                padding-top: 6px;
                p {
                    line-height: 26px;
                }
            }
            .salon-list {
               
                padding: 8px 10px 8px 0px;
                .item {
                    

                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-family: Jost;
                    &:last-of-type {
                        margin-bottom: 0 !important;
                    }
                    p {
                        color: $color-silver-brown;
                    }
                    .choose {
                        margin-top: -18px;
                        @include media-breakpoint-down(lg) {
                          margin-top: 0;
                        }
                        button {
                            width: 150px;
                            background: #fff;
                            @include media-breakpoint-down(lg) {
                                padding: 0; 
                                width: auto;
                                border: none;
                                margin-top: 8px;
                                font-size: 14px;
                            }
                        }
                    }
                    & + .item {
                        margin-top: 15px;
                    }
                }
            }
            .add-address {
                max-width: 600px;
                margin-top: 26px;
                .address-input input {
                    height: 57px;
                }
                .tumblr {
                    margin-top: 35px;
                    @include media-breakpoint-down(lg) {
                        margin-top: 12px;
                    }
                }
                .form-group-info {
                    font-size: 12px;
                    margin-top: 7px;
                }
                .magic-checkbox-wrap {
                    margin-top: 18px;
                    margin-bottom: 20px;
                }
                .inline-labels {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    gap: 12px;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    .form__group-label {
                        max-width: 20%;
                    }
                    margin-top: 8px;
                    input {
                        height: 40px;
                        height: 52px;
                    }
                    @include media-breakpoint-down(lg) {
                        label {
                            font-size: 10px;
                        }
                    }
                    
                }
            }
            .addresses {
        
                margin-bottom: 0;
        
                .item {
                    background: #F7F7F7;
                    padding: 22px 25px;
                    border-radius: 6px;
                    align-items: center;
                    border: none;
                    display: flex;
                    justify-content: space-between;
                    @include media-breakpoint-down(lg) {
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        padding: 13px 6px;
                    }
                    .text {
                        max-width: 75%;
                        width: 75%;
                        font-size: 17px;
                        letter-spacing: -0.4px;
                        line-height: 17px;
                    }
                    &.removed {
                        padding-top: 22px;
                        padding-bottom: 19px;
                        color: #696969;
                        justify-content: space-between;
                    }
                    svg {
                        width: 16px;
                        height: 16px;
                    }
                    .edit, .delete {
                        display: flex;
                        align-items: center;
                        span {
                            margin-left: 4px;
                        }
                    }
                    .delete {
                        margin-left: 10px;
                    }
                }
                .new-address {
                    padding: 14px 17px;
                    margin-top: 12px;
                }
                

            }
            .address-block-wrap {
                margin-top: 20px;
                @include media-breakpoint-down(lg) {
                    margin-top: 16px;
                }
                .addresses-block {
                    padding-right: 0;
                    .checkbox {
                        margin-left: 24px;
                        margin-top: -20px;
                        @include media-breakpoint-down(lg) {
                            margin-left: 12px;
                            margin-top: 0;
                        }
                        svg {
                            width: 16px;
                            height: 16px;
                        }
                    }
                    .item + .item {
                        margin-top: 12px;
                    }
                    .text {
                        padding-left: 6px;
                        padding-right: 60px;
                        @include media-breakpoint-down(lg) {
                            padding-right: 10px;
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }
                    .new-address {
                        text-decoration: underline;
                        color: $color-silver-brown;
                    }
                    .delete {
                        @include media-breakpoint-down(lg) {
                            margin-right: 10px !important;
                        }
                    }
                }
            }
            .data_deliv {
                .form-row {
                    margin-bottom: 0;
                }
                .js-delivery-date {
                    width: 294px;
                    margin-top: 2px;
                    max-width: 100%;
                    height: 58px;
                    @include media-breakpoint-down(lg) {
                        width: 100%;
                    }
                    & + label {
                        // top: 6px;
                    }
                }
                .select2-container {
                    padding: 2px 0;
                    margin-left: 12px;
                    width: 100%;
                    @include media-breakpoint-down(lg) {
                        margin-top: 10px;
                        margin-left: 0;
                    }
                }
            }
            .radio-group {
                margin-top: 0;
                margin-left: 0;
                margin-right: 10px;
                margin-bottom: 0;
                max-width: 40px;
                width: 24px;
                height: 24px;
                label {
                    width: 24px;
                    height: 24px;
                }
            }
        }
        
        margin-bottom: -24px;
        h1 {
            margin-bottom: 70px;
            text-align: center;
            margin-top: 23px;
        }
        h2 {
            margin-top: 46px;
            margin-bottom: 22px;
        }
        h3 {
            font-size: 30px;
        }
        p {
            line-height: 29.3px;
        }
        .addresses {
            h4 {
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 20px;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                margin-top: 15px;
                margin-bottom: 6px;
            }
            .salon-list {
                .item {
                    h3 {
                        font-family: Jost;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 15px;
                        line-height: 20px;
                        letter-spacing: 1.5px;
                        color: $color-black;
                        margin-bottom: 8px;
                        margin-top: 4px;
                        @include media-breakpoint-down(lg) {
                            margin-bottom: 0;
                        }
                    }
                    p {
                        font-style: normal;
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 15px;
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        color: $color-black;
                        margin-top: 16px;
                        color: $color-silver-brown;
                        @include media-breakpoint-down(lg) {
                            margin-top: 6px;
                            font-size: 10px;
                        }
                        & + p {
                            margin-top: 3px;
                        }
                        
                    }
                }
            }
        }
        #mapSalon {
            max-width: 600px;
            width: 100%;
            height: 360px;
            margin-top: 8px;
            border-radius: 6px;
        }
        .salon-list-selected {

            margin-top: 12px;
            h3{
                margin-top: 5px;
                font-weight: 300;
                font-size: 18px;
                color: $color-black;
                font-family: Jost;
                color: $color-black;
                @include media-breakpoint-down(lg) {
                    font-size: 16px;
                }
            }
            p{
                font-weight: 300;
                font-size: 14px;
                color: $color-silver-brown;
                line-height: 4px;
                margin-top: 18px;
                @include media-breakpoint-down(lg) {
                    font-size: 12px;
                    margin-top: 7px;
                }
                & + p {
                    @include media-breakpoint-down(lg) {
                        margin-top: 14px;
                    }
                }
                span {
                    color: $color-black;
                }
            }
            .item {
                margin-top: 24px;
                padding: 22px 24px;
                align-items: center;
                border: none;
                display: flex;
                justify-content: space-between;
                background: #fff !important;
                box-shadow: 1px 1px 10px #7360351a;
                @include media-breakpoint-down(lg) {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
            .btn-change{
                padding: 14px 17px;
                margin-right: 30px;
                margin-top: 13px;
                color: $color-dark-golden;
                @include media-breakpoint-down(lg) {
                    padding: 0;
                    margin-right: 30px;
                    margin-top: 19px;
                    color: #736035;
                    font-size: 14px;
                }
            }
        }
        .get-payment {
            margin-top: 50px;
            h3{
                margin-left: 0;
            }
            .get-payment_wrap {
                margin-top: 23px;
                .radio ~ .radio {
                    margin-top: 11px;
                }
            }
        }
        .promo-block {
            margin-top: 24px;
            .form-row {
                display: flex;
                input {
                    width: 296px; 
                    @include media-breakpoint-down(lg) {
                        width: 150px;
                    }
                }
            }
            .btn-bgless {
                font-weight: 500;
                line-height: 22px;
                font-size: 16px;
                letter-spacing: 0.8px;
                color: $color-dark-golden;
            }
        }
        .bonus-block-wrap {
            margin-top: 45px;
        }
        .promo-block_inp {
            padding: 16px;
            width: 418px;
            height: 98px;
            background: #F5F5F5;
            border-radius: 14px;
            margin-top: 50px;
            margin-bottom: 24px;
            .fl_box {
                display: flex;
                & > div {
                    width: 84%;
                    margin-right: 16px;
                }
            }
        }
        .promo-block_bonus {
            margin-top: 22px;
            padding: 16px;
            gap: 9px;
            width: 600px;
            max-width: 100%;
            background: #F5F5F5;
            border-radius: 6px;
            margin-bottom: 50px;
            display: flex;
            padding-bottom: 24px;
            @include media-breakpoint-down(lg) {
                flex-direction: column;
            }
            .promo-block_bonus_img {
                width: 46%;
                margin-top: 8px;
                margin-left: 8px;
                @include media-breakpoint-down(lg) {
                    width: 100%;
                }
                img{
                    border-radius: 6px;
                }
            }
            .withdraw {
                display: flex;
                flex-direction: column;
                margin-top: 24px;
                @include media-breakpoint-down(lg) {
                    margin-top: 7px;
                }
                p {
                    font-size: 18px;
                    color: $color-silver-brown;
                    @include media-breakpoint-down(lg) {
                        font-size: 16px;
                        margin-left: 10px;
                    }
                }
                .form__group-input {
                    width: 192px;
                    height: 51px;
                    margin-right: 0px;
                    margin-top: 3px;
                    border-radius: 6px;
                    border: 1px solid $color-dark-golden;
                    text-align: center;
                    @include media-breakpoint-only(md) {
                        margin-top: 1px;
                        max-width: 157px;
                    }
                }
                .inputs-wrap {
                    display: flex;
                    @include media-breakpoint-down(lg) {
                        margin-left: 8px;
                    }
                    input {
                        color: $color-black;
                    }
                    button {
                        margin-top: 2px;
                        margin-left: 1px;
                        @include media-breakpoint-only(md) {
                            padding-left: 11px !important;
                        }
                    }
                }
            }
            .all_bonus {
                font-size: 18px;
                margin-top: 14px;
                color: $color-silver-brown;
                @include media-breakpoint-down(lg) {
                    font-size: 16px;
                    margin-top: 6px;
                    margin-left: 9px;                
                }
                span {
                    color: $color-black;
                }
            }
            
        }
        .agreement_block {
            margin-top: 50px;
            .tumblr ~ .tumblr {
                margin-top: 6px;
            }
            .checkbox-wrap {
                margin-top: 45px;
            }
        }
        .data_deliv {
            display: flex;
            justify-content: space-between;
            margin-top: 24px;
            @include media-breakpoint-down(lg) {
                flex-direction: column;
            }
            label {
                width: 216px;
                .form__group-input{
                    height: 44px;
                }
                
            }
        }
        .submit-order {
            width: 296px;
            margin-top: 9px;
            text-align: center;
        }
    }
   
}
.bottom-inputset {
    .checkbox-wrap {
        margin-top: 50px;
    }
    .btn-sub-asid {
        margin-top: 7px;
        max-width: 100%;
        width: 296px;
    }
}
.btn-sub-bod {
    display: block;
}

.clear {
    clear: both;
}
.rel {
    position: relative;
}

.pseudo-radio {
    position: relative;
    padding-left: 30px;
}
.pseudo-radio:after {
    position: absolute;
    top: 3px;
    left: 3px;
    height: 16px;
    width: 16px;
    background: transparent;
    content: ' ';
    display: inline-block;
    border: 1px solid $color-dark-golden;
    border-radius: 50%;
}
.pseudo-radio:before {
    position: absolute;
    left: 6px;
    top: 6px;
    height: 10px;
    width: 10px;
    background: #fff;
    content: ' ';
    display: inline-block;
    background-color: transparent;
    border-radius: 50%;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    .pseudo-radio:before {
        background-color: $color-dark-golden;
    }
}
.select-city {
    display: none;
}
.select-city + span.select2 .select2-selection--single:hover {
    background: #fff;
}
.select-city + span.select2 {
    max-width: 290px;
    padding: 0;
    margin-top: 2px;
    font-family: Jost;
    .select2-selection--single {
        border: none;
    }
    .select2-selection--single .select2-selection__rendered {
        padding: 0;
        height: auto !important;
    }
    .select2-selection--single {
        height: auto !important;
    }
    svg {
        margin-left: 5px;
    }
}


::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-thumb {
    background-color: #736035;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
// ::-webkit-resizer {
//     border: 2px solid black;
//     background: red;
//     box-shadow: 0 0 5px 5px blue;
//     outline: 2px solid yellow;
//   }


  .form-control.text-area {
    textarea.form-control--input {
        margin-top: 13px;
        height: 96px;
    }
    label.form-control--label {
        top: 14px;
     }  
    }
   
    .ui-datepicker-calendar {
        thead {
            border-bottom: 2px solid #F5F9FC;
        }
    }
    .ui-datepicker-calendar .col span {
        font-family: Jost;
        text-transform: lowercase;
    }
    .ui-datepicker th {
        font-family: 'Jost';
        text-transform: lowercase;
        color: #696969;
        font-size: 14px;
    }
    .ui-datepicker .ui-datepicker-header {
        background: #fff;
        border: none;
    }
    .ui-datepicker th span {
        font-size: 16px;
        color: $color-silver-brown;
        font-weight: 300;
    }
    .ui-datepicker .ui-datepicker-prev span {
        background-image: url("/images/sprites/svg/cleft.svg");
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: 50%;
    }
    
    .ui-datepicker .ui-datepicker-next span {
        background-image: url("/images/sprites/svg/right.svg");
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: 50%;
      }
    .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
        background: #fff !important;
        border-color: #fff !important;
    }
    .ui-datepicker .ui-datepicker-title {
        font-family: Jost;
    }
    .ui-datepicker-month {
        font-family: "Jost";
        font-size: 18px;
        font-weight: 300;
        color: $color-black;
    }
    .ui-datepicker-year {
        font-family: "Jost";
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 300;
        color: $color-black;
    }
    .ui-widget.ui-widget-content {
        border: 1px solid #E6E6E6;
        border-radius: 0;
    }
    .ui-state-default.ui-state-highlight {
        display: inline-block;
    }
    .ui-datepicker-calendar td {
        font-family: "Jost";
        text-align: center;
        color: $color-black;
        font-size: 16px;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        display: inline-block;
        font-size: 16px;
        color: $color-black;
        border: none;
        background: none;
        font-weight: 300;
    }
    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        color: $color-black;
        background: #F5F5F5;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
        border: none;
        font-weight: 300;
        display: inline-flex !important;
        justify-content: center;
        align-items: center;

    }
    .ui-datepicker-month {
         font-family: "Jost";
     }
    .ui-datepicker-year {
        font-family: "Jost";
        text-transform: uppercase;
    }
    .ui-widget.ui-widget-content {
        border: none;
        border-radius: 0;
        box-shadow: 1px 1px 10px #00000014;
        border-radius: 6px;
    }
    .ui-state-default.ui-state-highlight {
        display: inline-block;
    }
    .ui-datepicker-calendar td {
        font-family: "Jost";
        text-align: center;
        color: $color-black;
        font-size: 16px;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        display: inline-block;
        font-size: 16px;
        color: $color-black;
        border: none;
        background: none;
    }
    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        color: $color-black;
        background: #F5F5F5;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
        border: none;
    }
