.inner-auth-block {
	h2 {
		text-align: center;
	}
	.form {
		max-width: 296px;
		margin: 0 auto;
	}
	.btn.btn-primary {
		width: 100%;
	}
	svg {
		fill: transparent;
		max-width: 15px;
    	margin: auto;
	}
	.form-row {
		margin-bottom: 24px;
	}
	.form__group {
		&.sms-code {
			display: flex;
			justify-content: space-between;
			margin-top: 6px;
			.form__group-input {
				max-width: 22%;
				text-align: center;
				padding: 16px 10px;
				border: 1px solid $color-silver-brown;
				border-radius: 5px;
			}

			& ~ .form-control--notify {
				text-align: right;
				margin-bottom: -20px;
			}
		}
	}
	.info-top {
		margin-top: 14px;
		&.timer {
			margin-top: 26px;
		}
	}
	.resend-code {
		margin-top: 6px;
	}
}

@include media-breakpoint-up(md) {
	#modal-auth {
		max-width: 614px;
		border-radius: 5px;
		padding: 66px 132px;
		border-radius: 5px;
		h2 {
			font-size: 30px;
			margin-bottom: 55px;
		}
		.btn.btn-primary {
			margin-bottom: 6px;	
		}
	}

	#modal-code {
		max-width: 614px;
		border-radius: 5px;
		padding: 66px 132px;
		border-radius: 5px;
		h2 {
			font-size: 30px;
			margin-bottom: 55px;
		}
		.btn.btn-primary {
			margin-bottom: 6px;	
		}
	}
}

.personal-data {
	.form-control--input:not(:placeholder-shown) {
		padding: 28px 11px 10px;
	}
	.form-row {
		margin-bottom: 12px;
	}
	.form-control--icon-left {
		.form-control--icon {
			max-height: 57px;
		}
		.form-control--input:not(:placeholder-shown) {
			padding: 27px 11px 10px 44px;
		}
		.form-control--notify {
			margin-top: 6px;
		}
	}
	.policy {
		margin-top: 11px;
	}
	.save {
		width: 100%;
		margin-top: 8px;
	}
}

.personal {
	.deliveries-block {
		margin-top: 47px;
	}
	.addresses-block {
		margin-top: 13px;
	}
}

.deliveries-block {
	.save-delivery-desc {
		margin-top: 25px;
		font-size: 18px;
		letter-spacing: -0.1px;
		color: $color-black;
	}
}

.addresses-block {
	padding-right: 16px;
	.item {
		border-radius: 6px;
		background: #F7F7F7;
		display: flex;
		align-items: center;
		svg {
			fill: $color-white;
			width: 25px;
			height: 25px;
		}
		input[type="radio"] {
			display: none;
		}
		& + .item {
			margin-top: 15px;
		}
		.text {
			height: auto;
    		padding: 24px;
    		font-size: 14px;
			line-height: 18px;
			flex-grow: 2;
			color: $color-black;
		}
		.icon.edit {
			margin-right: 11px;
		}
		.icon.delete {
			margin-right: 23px;
		}
		&.removed {
			.text {
				color: $color-silver-brown;
			}
		}
		.undo {
			margin-right: 23px;
			font-size: 14px;
			text-decoration: underline;
			color: $color-dark-golden;
		}
	}
	.new-address {
		font-size: 14px;
    	margin-top: 12px;
		color: $color-dark-golden;
	}
}

.delete-account {
	text-align: right;
    margin-top: 50px;
    font-size: 14px;
	text-decoration: underline;
	color: $color-dark-golden;
}



.aside.personal-aside {
	background: #F7F7F7;
    max-width: 272px;
	padding-top: 50px;
	padding-left: 24px;
	padding-bottom: 56px;
	border-radius: 6px;
	ul {
		li + li {
			margin-top: 13px;
		}
		li {

			&.active a {
				color: $color-dark-golden;
				text-decoration: underline;
			}
			a {
				color: $color-black;
			}
			
		}
	}
	.logout {
		margin-top: 60px;
		display: block;
		font-size: 16px;
		text-transform: uppercase;
		color: $color-silver-brown;
	}
}

.personal {
	position: relative;
	.info-top-plate {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		.info-plate {
			padding: 10px;
		}
		z-index: 1000;

		&.notified {
			display: flex;
		}
	}
	.button {
		cursor: pointer;
		svg {
			width: 25px;
			fill: $color-dark-golden;
		}
	}
	 
}

@include media-breakpoint-up(xl) {
	.personal-data {
		.form-row {
			max-width: 296px;
		}
		.save {
			max-width: 296px;
		}
	}
	.address-block-wrap {
		max-width: 614px;
	}
}



.info-plate {
	display: flex;
    justify-content: space-between;
	border-radius: 6px;
	box-shadow: 1px 1px 20px #e6e6e6;
	background: #fff;
	padding: 10px;
	.info {
		display: flex;
		flex-direction: row;
		align-items: center;
		svg {
			width: 24px;
			height: 24px;
    		fill: #fff;
			margin-right: 15px;
		}
		p {
			font-size: 18px;
			letter-spacing: -0.2px;
			color: $color-dark-golden;
		}
	}
	
}
.email-wrap {
	display: none;
	position: relative;
	.info-plate {
		position: absolute;
    left: 309px;
    width: 410px;
    top: -4px;
	}
}
.email-wrap.notified {
	display: flex;
}


@include media-breakpoint-only(lg) {
	.email-wrap .info-plate {
		left: 329px;
		width: 350px;
	}
}

@include media-breakpoint-down(lg) {
	.email-wrap .info-plate {
		display: none;
	}
}

@include media-breakpoint-down(sm) {
	.addresses-block {
		padding-right: 0 !important;
	}
	.email-wrap .email {
		width: 100%;
	}
	
}

@include media-breakpoint-down(lg) {
	.personal .info-top-plate {
		position: fixed;
		top: 20px;
	}
}