.inner-auth-block {
	h2 {
		text-align: center;
	}
	.form {
		max-width: 296px;
		margin: 0 auto;
	}
	.btn.btn-primary {
		width: 100%;
		font-weight: 300;
	}
	svg {
		fill: transparent;
		max-width: 15px;
    	margin: auto;
	}
	.form-row {
		margin-bottom: 24px;
	}
	.form__group {
		&.sms-code {
			display: flex;
			justify-content: space-between;
			margin-top: 6px;
			.form__group-input {
				max-width: 22%;
				text-align: center;
				padding: 16px 10px;
				border: 1px solid $color-silver-brown;
				border-radius: 5px;
			}

			& ~ .form-control--notify {
				text-align: right;
				margin-bottom: -20px;
			}
		}
	}
	.info-top {
		margin-top: 14px;
		&.timer {
			margin-top: 26px;
		}
	}
	.resend-code {
		margin-top: 6px;
	}
}

@include media-breakpoint-up(md) {
	#modal-auth {
		max-width: 614px;
		border-radius: 5px;
		padding: 66px 132px;
		border-radius: 5px;
		h2 {
			font-size: 30px;
			margin-bottom: 55px;
		}
		.btn.btn-primary {
			margin-bottom: 6px;	
		}
	}

	#modal-code {
		max-width: 614px;
		border-radius: 5px;
		padding: 66px 132px;
		border-radius: 5px;
		h2 {
			font-size: 30px;
			margin-bottom: 55px;
		}
		.btn.btn-primary {
			margin-bottom: 6px;	
		}
	}
}

.personal-data {
	.form-control--input:not(:placeholder-shown) {
		padding: 28px 11px 10px;
	}
	.form-row {
		margin-bottom: 12px;
	}
	.form-control--icon-left {
		.form-control--icon {
			max-height: 57px;
		}
		.form-control--input:not(:placeholder-shown) {
			padding: 27px 11px 10px 44px;
		}
		.form-control--notify {
			margin-top: 6px;
		}
	}
	.policy {
		margin-top: 11px;
	}
	.save {
		width: 100%;
		margin-top: 8px;
	}
}

.personal {
	.deliveries-block {
		margin-top: 47px;
		font-weight: 300;
	}
	.addresses-block {
		margin-top: 13px;
	}
}

.deliveries-block {
	.save-delivery-desc {
		margin-top: 25px;
		font-size: 18px;
		letter-spacing: -0.1px;
		color: $color-black;
	}
}

.addresses-block {
	padding-right: 16px;
	.item {
		border-radius: 6px;
		background: #F7F7F7;
		display: flex;
		align-items: center;
		svg {
			fill: $color-white;
			width: 25px;
			height: 25px;
		}
		input[type="radio"] {
			display: none;
		}
		& + .item {
			margin-top: 15px;
		}
		.text {
			height: auto;
    		padding: 24px;
    		font-size: 14px;
			line-height: 18px;
			flex-grow: 2;
			color: $color-black;
		}
		.icon.edit {
			margin-right: 11px;
		}
		.icon.delete {
			margin-right: 23px;
		}
		&.removed {
			.text {
				color: $color-silver-brown;
			}
		}
		.undo {
			margin-right: 23px;
			font-size: 14px;
			text-decoration: underline;
			color: $color-dark-golden;
		}
	}
	.new-address {
		font-size: 14px;
    	margin-top: 12px;
		color: $color-dark-golden;
		font-weight: 300;
	}
}

.delete-account {
	text-align: right;
    margin-top: 50px;
    font-size: 14px;
	text-decoration: underline;
	color: $color-silver-brown;
	font-weight: 300;
}



.aside.personal-aside {
	background: #F7F7F7;
    max-width: 272px;
	padding-top: 50px;
	padding-left: 24px;
	padding-bottom: 56px;
	border-radius: 6px;
	font-weight: 300;
	ul {
		li + li {
			margin-top: 13px;
		}
		li {

			&.active a {
				color: $color-dark-golden;
				text-decoration: underline;
			}
			a {
				color: $color-black;
			}
			
		}
	}
	.logout {
		margin-top: 60px;
		display: block;
		font-size: 16px;
		text-transform: uppercase;
		color: $color-silver-brown;
	}
}

.personal {
	position: relative;
	.info-top-plate {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		.info-plate {
			padding: 10px;
		}
		z-index: 1000;

		&.notified {
			display: flex;
		}
	}
	.button {
		cursor: pointer;
		svg {
			width: 25px;
			fill: $color-dark-golden;
		}
	}
	 
}

@include media-breakpoint-up(xl) {
	.personal-data {
		.form-row {
			max-width: 296px;
		}
		.save {
			max-width: 296px;
		}
	}
	.address-block-wrap {
		max-width: 614px;
	}
}



.info-plate {
	display: flex;
    justify-content: space-between;
	border-radius: 6px;
	box-shadow: 1px 1px 20px #e6e6e6;
	background: #fff;
	padding: 10px;
	font-weight: 300;
	.info {
		display: flex;
		flex-direction: row;
		align-items: center;
		svg {
			width: 24px;
			height: 24px;
    		fill: #fff;
			margin-right: 15px;
		}
		p {
			font-size: 18px;
			letter-spacing: -0.2px;
			color: $color-dark-golden;
		}
	}
	
}
.email-wrap {
	display: none;
	position: relative;
	.info-plate {
		position: absolute;
    left: 309px;
    width: 410px;
    top: -4px;
	}
}
.email-wrap.notified {
	display: flex;
}


@include media-breakpoint-only(lg) {
	.email-wrap .info-plate {
		left: 329px;
		width: 350px;
	}
}

@include media-breakpoint-down(lg) {
	.email-wrap .info-plate {
		display: none;
	}
}

@include media-breakpoint-down(sm) {
	.addresses-block {
		padding-right: 0 !important;
	}
	.email-wrap .email {
		width: 100%;
	}
	
}

@include media-breakpoint-down(lg) {
	.personal .info-top-plate {
		position: fixed;
		top: 20px;
	}
}


.orders-list {
	font-weight: 300;
	margin-right: 16px;
	.empty {
		font-size: 18px;
		letter-spacing: -0.2px;
		color: $black;
		margin-top: 24px;
		font-weight: 300;
	}
	hr {
		margin-top: 20px;
		display: block;
	}
	.item {
		border-radius: 6px;
		background-color: $color-white;
		padding: 24px;
		.info {
			display: flex;
    		justify-content: space-between;
			.order-id {
				font-size: 18px;
				color: $color-black;
			}
			.number {
				font-size: 12px;
				margin-top: 6px;
				color: $color-silver-brown;
			}
		}
		.status {
			margin-top: 10px;
			
		}
		.price {
			margin-top: 26px;
			font-size: 18px;
			letter-spacing: 0.5px;
			font-weight: 500;
		}
		.delivery {
			margin-top: 8px;
			letter-spacing: 0.2px;
			span {
				color: $color-silver-brown;
			}
		}
		& + .item {
			margin-top: 24px;
		}
	}
}
.status {
	padding: 7px 12px;
	font-size: 14px;
	display: block;
	font-weight: 300;
	width: auto;
	border-radius: 6px;
	display: inline-block;
	color: $color-white;
	&.pending {
		background-color: $color-cold-brown;
	}
	&.completed {
		background-color: $color-system-green;
	}
	&.cancelled {
		background-color: $color-gray-2;
		color: $color-black;
	}
	&.delivery {
		background-color: #B78041;
	}
}

@include media-breakpoint-only(sm) {
	.personal.personal-orders {
		.orders-list {
			margin-right: 0;
			.item {
				padding: 24px 0px;
				.info {
					.order-id {
						font-size: 16px;
					}
				}
				.delivery {
					font-size: 12px;
				}
			}
		}
	}
}
@include media-breakpoint-down(sm) {
	.personal.personal-orders {
		margin-top: 48px;
		.orders-list {
			margin-top: 46px;
			margin-right: 0;
			.item {
				padding: 14px;
				.info {
					.order-id {
						font-size: 16px;
						margin-top: 3px;
					}
				}
				.status {
					font-size: 12px;
					margin-top: 6px;
				}
				.price {
					margin-top: 18px;
					font-size: 14px;
					letter-spacing: 0.3px;
					font-weight: 500;
				}
				.delivery {
					font-size: 11px;
					letter-spacing: 0.4px;
				}
				& + .item {
					margin-top: 22px;
				}
			}
		}
	}
	
}

.orders {
	.order-detail {
		color: {
			color: $color-black;
		}
		.back {
			display: flex;
			align-items: center;
			text-transform: uppercase;
			letter-spacing: -0.9px;
			font-weight: 300;
			svg {
				width: 24px;
				height: 24px;
			}
		}
		.headline {
			margin-top: 60px;
			display: flex;
			h3 {
				line-height: 32px;
			}
			.headline-right {
				display: flex;
				flex-grow: 2;
			}
			.status {
				height: 30px;
				margin-left: 13px;
			}
			.date {
				font-size: 18px;
				margin-top: 10px;
				font-weight: 300;
			}
		}
		.order-contents {
			.item {
				margin-top: 51px;
    			display: flex;
				font-weight: 300;
				// justify-content: space-between;
				& + .item {
					margin-top: 15px;
				}
				.image-block {
					flex: 0 0 145px;
    				margin-right: 12px;
				}
				.description {
					display: flex;
					justify-content: space-between;
					flex: 1 1;
				}
				.content-block {
					flex: 0 0 299px;
					margin-right: 70px;
					
					.title {
						margin-top: 12px;
						font-size: 18px;
					}
					.color {
						margin-top: 42px;
    					font-size: 14px;
					}
					.size {
						margin-top: 8px;
						font-size: 14px;
					}
				}
				.price-block {
					flex: 0 0 150px;
					margin-right: 34px;
					justify-content: center;
    				display: flex;
    				flex-direction: column;
					.old-price {
						text-decoration: line-through;	
						margin-top: -18px;		
						color: $color-silver-brown;
					}
					.price {
						margin-top: 10px;
    					font-size: 18px;
					}
				}
				.total-block {
					justify-content: space-between;
					display: flex;
					flex: 1 1;
					align-items: center;
					.amount {
						margin-top: 10px;
    					font-size: 18px;
					}
					.total-price {
						font-weight: 500;
						font-size: 18px;
						letter-spacing: 0.4px;
						margin-top: 10px;
					}
				}
			}
		}
		.summary {
			padding: 25px;
			background: #F7F7F7;
			border-radius: 6px;
			font-weight: 300;
			max-width: 600px;
    		padding: 25px;
			.summary-row {
				display: flex;
				justify-content: space-between;
				font-size: 18px;
				& + .summary-row {
					margin-top: 16px;
				}
				&.total {
					color: $color-black;
					font-weight: 500;
					.prop {
						color: $color-black;
						font-weight: 500;
					}
				}
				.prop {
					color: $color-silver-brown;
				}
			}
		}
		.bonuses {
			display: flex;
			justify-content: space-between;
			max-width: 600px;
			padding: 25px;
			border-bottom: 1px solid #E0E0E0;
			font-size: 18px;
			font-weight: 300;
		}
		.info  {
			font-size: 18px;
			font-weight: 300;
			div + div {
				margin-top: 10px;
			}
			div {
				span {
					color: $color-silver-brown;
				}
				a {
					color: $color-silver-brown;
					text-decoration: underline;
					font-size: 14px;
				}
			}
		}
		.actions {
			.ml-24 {
				margin-left: 24px;
			}
		}
	}
}

@include media-breakpoint-down(xl) {
	.orders .order-detail .order-contents .item .content-block {
		flex: 0 0 199px;
		margin-right: 10px;
	}
	.orders .order-detail .order-contents .item .price-block {
		flex: 0 0 120px;
    	margin-right: 0px;
	}
	.orders .order-detail .order-contents .item .total-block .amount {
		// display: none;
	}
	.orders .order-detail .order-contents .item .total-block .total-price {
		text-align: right;
	}
	.orders .order-detail .order-contents .item .total-block {
		justify-content: flex-end;
	}
}

@include media-breakpoint-down(xl) {
	.orders .order-detail .order-contents .item .description {
		display: block;
	}
	.orders .order-detail .order-contents .item .total-block {
		justify-content: flex-start;
	}
	.orders .order-detail .order-contents .item .price-block {
		flex-direction: row;
		justify-content: flex-start;
	}
	.orders .order-detail .order-contents .item .price-block .price {
		order: -1;
	}
	.orders .order-detail .order-contents .item .price-block {
		flex-direction: row;
		justify-content: flex-start;
		align-items: baseline;
	}
	.orders .order-detail .order-contents .item .price-block .old-price {
		margin-left: 10px;
	}
	.orders .order-detail .order-contents .item .total-block {
		justify-content: flex-start;
		flex-direction: column;
		align-items: flex-start;
	}
	.orders .order-detail .order-contents .item .content-block .color {
		margin-top: 10px;
	}
}
@include media-breakpoint-down(md) { 
	.orders .order-detail .actions {
		display: flex;
    	flex-direction: column;
		text-align: center;
		.btn {
			& + .btn {
				margin-top: 20px;
				margin-left: 0;
			}
		}
	}
}

@include media-breakpoint-only(xs) {
	.orders .order-detail .headline .headline-right {
		flex-direction: column;
		align-items: flex-start;
		.status {
			margin-left: 0;
			margin-top: 10px;
		}
	}
	.orders .order-detail .order-contents .item .price-block .price {
		font-size: 14px;
	}
	.orders .order-detail .order-contents .item .price-block .old-price {
		font-size: 12px;
	}
	.orders .order-detail .order-contents .item .image-block {
		flex: 0 0 105px;
	}
	.orders .order-detail .headline {
		margin-top: 48px;
	}
	.orders .order-detail .headline .date {
		font-size: 16px;
	}
	.orders .order-detail .headline .headline-right .status {
		margin-top: 6px;
    	font-size: 12px;
	}
	.orders .order-detail .order-contents .item .image-block {
		margin-right: 8px;
	}
	.orders .order-detail .order-contents .item {
		margin-top: 38px;
	}
	.orders .order-detail .order-contents .item .content-block .title {
		font-size: 14px;
	}
	.orders .order-detail .order-contents .item .content-block .color {
		font-size: 12px;
		margin-top: 14px;
	}
	.orders .order-detail .order-contents .item .content-block .size {
		margin-top: 4px;
		font-size: 12px;
	}
	.orders .order-detail .order-contents .item .total-block .amount {
		margin-top: 10px;
		font-size: 12px;
	}
	.orders .order-detail .order-contents .item .total-block .total-price {
		font-size: 14px;
	}
	.orders .order-detail .summary .summary-row {
		font-size: 16px;
	}
	.orders .order-detail .summary .summary-row + .summary-row {
		margin-top: 14px;
	}
	.orders .order-detail .summary .summary-row.total {
		font-size: 15px;
	}
	.orders .order-detail .bonuses {
		padding: 25px 10px;
		font-size: 16px;
	}
	.orders .order-detail .info {
		font-size: 16px;
	}
	.orders .order-detail .info div + div {
		margin-top: 15px;
	}
	.orders .order-detail .actions {
		margin-top: 50px;
	}
	.orders .order-detail .actions .btn + .btn {
		margin-top: 12px;
	}
}
.loyalty {
	.loyalty-list {
		.empty {
			font-size: 18px;
			margin-top: 60px;
			font-weight: 300;
			p + p {
				margin-top: 18px;
			}
		}	
		.item {
			display: flex;
			align-items: flex-start;
			font-size: 18px;
			margin-bottom: 28px;
			.info {
				margin-left: 24px;
				font-weight: 300;
				p {
					margin-top: 24px;
					& + p {
						margin-top: 5px;
					}
				}
				.card-info {
					p {
						color: $color-silver-brown;
						span {
							color: $color-black;
						}
					}
				}
				.the-next-level-play {
					max-width: 286px;
					font-size: 14px;
					font-weight: 300;
					border-top: 1px solid #E0E0E0;
					padding-top: 12px;
					margin-top: 27px;
					line-height: 18px;
				}
			}
		}
	}
	.loyalty-about {
		margin-top: 18px;
		font-weight: 300;
		font-size: 14px;
		a {
			color: $color-dark-golden;
			text-decoration: underline;
		}
	}
}
@include media-breakpoint-only(md) {
	.loyalty-list img {
		max-width: 200px;
	}
}
@include media-breakpoint-down(md) {
	.personal .loyalty { 
		h2 {
			margin-top: 12px;
		}
		.loyalty-list .item {
			display: flex;
			align-items: flex-start;
			font-size: 18px;
			margin-bottom: -5px;
			flex-direction: column;

			.info {
				flex-wrap: wrap;
				margin-left: 0;
				display: flex;
				width: 100%;
				align-items: flex-start;
				justify-content: space-between;
				font-size: 16px;
				h3 {
					margin-top: 12px;
					font-size: 30px;
				}
				p {
					margin-top: 0;

					&.the-next-level-play {
						margin-top: 14px;
						border-top: 1px solid #E0E0E0;
						padding-top: 14px;
						font-size: 12px;
						line-height: 15px;
						font-weight: 300;
					}
				}
				.card-info {
					margin-top: 14px;
					margin-left: 20px;
					flex: 1 1 180px;
					p + p {
						margin-top: 4px;
					}
				}
			}
			
		}
		.loyalty-about {
			font-size: 12px;
		}
	}
}

.personal .favourites {
	.favourites-headline {
		display: flex;
		.share-fav-link {
			margin-top: 20px;
    		margin-left: 25px;
    		font-weight: 300;
			@include media-breakpoint-only(md) {
				margin-top: 10px;
			}
		}
		a {
			display: flex;
			svg {
				width: 16px;
				height: 16px;
				fill: #fff;
				margin-right: 4px;
			}
		}
		@include media-breakpoint-down(md) {
			flex-direction: column;
			.share-fav-link {
				margin-left: 0;
			}
		}
	}
	.favourites-list {
		.item {
			img {
				border-radius: 6px;
				max-width: auto;
				@include media-breakpoint-only(xs) {
					width: 100%;
				}
			}
			position: relative;
			.fav {
				position: absolute;
				top: 16px;
    			right: 28px;
				svg {
					width: 22px;
					height: 22px;
					stroke: $color-dark-golden;
					fill: transparent;
					&.is-active {
						fill: $color-dark-golden;
					}
				}
			}
			margin-bottom: 48px;
			.flexible {
				margin-top: 12px;
				display: flex;
				justify-content: space-between;
			}
			.item-left {
				font-size: 18px;
				font-weight: 300;
				a {
					color: $color-cold-brown;
				}
				p {
					font-size: 13px;
					font-weight: 300;
					text-transform: uppercase;
					margin-top: 6px;
					color: $color-silver-brown;
				}
			}
			.item-right {
				text-align: right;
				width: 140px;
				.price {
					font-size: 18px;
					font-weight: 300;
					@include media-breakpoint-only(md) { 
						font-size: 16px;
					}
				}
				.old-price {
					font-weight: 300;
					text-decoration: line-through;
					margin-top: 8px;
					color: $color-silver-brown;
					@include media-breakpoint-only(md) { 
						font-size: 14px;
					}
				}
			}
			.item-bottom {
				.color {
					margin-top: 15px;
					font-weight: 300;
					margin-bottom: 6px;
					color: $color-cold-brown;
					span {
						color: $color-silver-brown;
					}
				}
				a.btn {
					margin-top: 2px;
					width: 100%;
					text-align: center;
				}
			}
		}
	}
}

.personal .subscriptions {
	.subscriptions-list {
		@include media-breakpoint-only(xs) {
			margin-top: 48px;
		}
		.tumblr ~ .tumblr {
			margin-top: 8px;
		}
		.btn {
			margin-top: 43px;
			width: 100%;
			max-width: 294px;
			@include media-breakpoint-only(xs) {
				margin-top: 19px;
			}
		}
	}
}

#tippy-1 {
	z-index: 999999 !important;
	.tippy-box {
		background-color: $color-dark-golden;
	}
	.tippy-arrow {
		background-color: $color-dark-golden;
	}
	.tippy-box[data-placement^=top] > .tippy-arrow:before {
		color: $color-dark-golden;
	}
	.tippy-content {
		padding: 8px 14px;
	}
}
.share-modal-wrap {
	.h3 {
		font-size: 30px;
	}
}
.share-wrap {
	display: flex;
	svg {
		width: 24px;
		height: 24px;
	}
	.social-links {
		display: flex;
		a {
			margin-right: 24px;
			color: $color-dark-golden;
			&:last-child {
				margin-right: 0;
			}
			@include media-breakpoint-down(md) {
				margin-right: 20px;
			}
		}
	}
	.js-copy-to-clipboard {
		display: flex;
		margin-left: 48px;
		font-size: 14px;
		font-weight: 300;
		color: $color-dark-golden;
		svg {
			margin-right: 10px;
		}
		span {
			color: $color-black;
		}
		@include media-breakpoint-down(md) {
			margin-left: 29px;
		}
	}
	@include media-breakpoint-down(md) {
		justify-content: center;
	}
}
#modal-share-favorite {
	border-radius: 6px;
	.contents {
		padding: 20px 97px 20px 97px;
		@include media-breakpoint-only(xs) {
			padding: 40px 0px;
		}
	}
}