.product {
  &__gallery {
    display: flex;
    align-items: center;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 24px;
    }

    &-thumb {
      &--wrapper {
        flex: 0 0 100px;
        margin-right: 12px;
        text-align: center;
        overflow: hidden;
        position: relative;
        width: 100%;
        @include media-breakpoint-down(lg) {
          flex: 0 0 auto;
          margin-right: 0;
          order: 2;
          margin-top: 12px;
        }
      }
      &--arrow {
        @include media-breakpoint-down(lg) {
          display: none !important;
        }
        &--up {
          margin-bottom: 24px;
        }
        &--down {
          margin-top: 24px;
        }
      }
      &--item {
        display: block;
        border-radius: 6px;

        &--wrapper {
          display: block !important;
          margin: 6px 0;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 2px solid $color-dark-golden;
            opacity: 0;
            border-radius: 6px;
            transition: opacity $duration-normal $easing-out;
          }
          @include media-breakpoint-down(lg) {
            margin: 0 6px;
            width: 100px !important;
          }
        }
      }
      .slick-list {
        margin: -6px 0;
        @include media-breakpoint-down(lg) {
          margin: 0 -6px;
        }
      }
      .slick-slide.slick-current &--item--wrapper:after{
        opacity: 1;
      }
    }
    &-preview {
      &--wrapper {
        overflow: hidden;
        position: relative;
        width: 100%;
        @include media-breakpoint-down(lg) {
          order: 1;
        }
      }
      &--item {
        display: block;
        @include media-breakpoint-down(md) {
          border-radius: 6px;
        }
        &--wrapper {
          display: block !important;
        }
      }
      &--arrow {
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        @include media-breakpoint-down(md) {
          display: none !important;
        }
        &--left {
          left: 24px;
          @include media-breakpoint-down(lg) {
            left: 12px;
          }
        }
        &--right {
          right: 24px;
          @include media-breakpoint-down(lg) {
            right: 12px;
          }
        }
      }
    }
  }


  &-article_number {
    color: $color-black;
    span {
      color: $color-silver-brown;
    }
  }
  &-tag {

  }
  &-title {

  }
  &__price {
    display: flex;
    align-items: center;
    &-current {
      font-weight: 300;
      font-size: 18px;
      line-height: 1.33;
    }
    &-old {
      margin-left: 8px;
      font-weight: 300;
      font-size: 16px;
      line-height: 1.4375;
      text-decoration-line: line-through;
      color: $color-silver-brown;
    }
  }
  &__color {
    &-label {
      color: $color-black;
      span {
        color: $color-silver-brown;
      }
    }
    &-list {
      display: flex;
      &--item {
        margin-right: 12px;
        border-radius: 100%;
        overflow: hidden;
        width: 36px;
        height: 36px;
        flex: 0 0 36px;
        position: relative;
        display: flex;
        &--value {
          flex: 1 1;
        }
        &:last-child {
          margin-right: 0;
        }
        &--active {
          &:before,
          &:after
          {
            content: "";
            position: absolute;
            border-radius: 100%;
          }
          &:before {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 2px solid $color-dark-golden;
          }
          &:after {
            top: 2px;
            right: 2px;
            bottom: 2px;
            left: 2px;
            border: 2px solid $color-white;
          }
        }
      }
    }
  }
  &__size {
    &-label {
      display: block;
    }
  }
  &__actions {
    display: flex;
    &-cart {
      flex: 1 1;
      .btn {
        width: 100%;
      }
    }
    &-like {
      flex: 0 0;
      margin-left: 12px;
      .btn {
        padding-top: 17px;
        padding-bottom: 17px;
        width: 148px;
        height: 58px;
      }
    }
  }
}