.product {
  &__gallery {
    display: flex;
    align-items: center;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 24px;
    }

    &-thumb {
      &--wrapper {
        flex: 0 0 100px;
        margin-right: 12px;
        text-align: center;
        overflow: hidden;
        position: relative;
        width: 100%;
        @include media-breakpoint-down(lg) {
          flex: 0 0 auto;
          margin-right: 0;
          order: 2;
          margin-top: 12px;
        }
      }
      &--arrow {
        @include media-breakpoint-down(lg) {
          display: none !important;
        }
        &--up {
          margin-bottom: 24px;
        }
        &--down {
          margin-top: 24px;
        }
      }
      &--item {
        display: block;
        border-radius: 6px;
        &--wrapper {
          display: block !important;
          margin: 6px 0;
          position: relative;
          cursor: pointer;

          &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 2px solid $color-dark-golden;
            opacity: 0;
            border-radius: 6px;
            transition: opacity $duration-normal $easing-out;
          }
          @include media-breakpoint-down(lg) {
            margin: 0 6px;
            width: 100px !important;
          }
        }
      }
      .slick-list {
        margin: -6px 0;
        @include media-breakpoint-down(lg) {
          margin: 0 -6px;
        }
      }
      .slick-slide.slick-current &--item--wrapper:after{
        opacity: 1;
      }
    }
    &-preview {
      &--wrapper {
        overflow: hidden;
        position: relative;
        width: 100%;

        @include media-breakpoint-down(lg) {
          order: 1;
        }
      }
      &--item {
        display: block;

        @include media-breakpoint-down(md) {
          border-radius: 6px;
        }
        &--wrapper {
          display: block !important;
          cursor: pointer;
        }
      }
      &--arrow {
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        @include media-breakpoint-down(md) {
          display: none !important;
        }
        &--left {
          left: 24px;
          @include media-breakpoint-down(lg) {
            left: 12px;
          }
        }
        &--right {
          right: 24px;
          @include media-breakpoint-down(lg) {
            right: 12px;
          }
        }
      }

      &--zoom {
        height: 48px;
        width: 48px;
        position: absolute;
        bottom: 24px;
        right: 24px;
        z-index: 20;
        color: $color-dark-golden;
        pointer-events: none;
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }



    &__window {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100 !important;
      display: flex;
      background: #FFF;
      @include media-breakpoint-down(md) {
        flex-direction: column;
        padding: 64px 12px 26px;
      }
      &--wrapper {
        display: none;
      }

      &-thumb {
        overflow: hidden;
        width: 100%;
        flex: 1 1;

        &--wrapper {
          flex: 0 0 196px;
          padding: 90px 47px;
          width: 196px;
          text-align: center;
          display: flex;
          flex-direction: column;
          position: relative;
          @include media-breakpoint-down(md) {
            order: 2;
            width: 100%;
            flex: 0 0 auto;
            padding: 0;
            margin-top: 8px;
          }
        }
        &--item {
          display: block;
          border-radius: 6px;

          &--wrapper {
            height: 120px;
            width: 100px;
            display: block !important;
            margin: 6px 0;
            position: relative;
            cursor: pointer;
            &:after {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              border: 2px solid $color-dark-golden;
              opacity: 0;
              border-radius: 6px;
              transition: opacity $duration-normal $easing-out;
            }
            @include media-breakpoint-down(md) {
              margin: 0 6px;
              width: 100px !important;
            }
          }
        }
        .slick-list {
          margin: -6px 0;
          overflow: visible;
          @include media-breakpoint-down(md) {
            margin: 0 -6px;
          }
        }
        .slick-slide.slick-current &--item--wrapper:after{
          opacity: 1;
        }

        &--arrow {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          @include media-breakpoint-down(md) {
            display: none !important;
          }
          &--up {
            top: 18px;
          }
          &--down {
            bottom: 18px;
          }
        }
      }
      &-big {
        cursor: grab;
        &--wrapper {
          height: 100vh;
          overflow: hidden;
          @include media-breakpoint-down(md) {
            order: 1;
            height: auto;
            border-radius: 6px;
          }

        //  overflow-x: hidden;
        //  overflow-y: scroll;
        //  &::-webkit-scrollbar {
        //    width: 9px;
        //    border-radius: 10px;
        //    overflow: hidden;
        //  }
        //
        //  &::-webkit-scrollbar-track {
        //    background: #F4F4F4;
        //    padding: 2px;
        //  }
        //
        //  &::-webkit-scrollbar-thumb {
        //    border: 2px solid #f4f4f4;
        //    background-color: $color-dark-golden;
        //    border-radius: 10px;
        //  }
        }
        &--item {
          display: block;
          @include media-breakpoint-down(md) {
            height: 100%;
          }
          &--wrapper {
            display: block !important;
          }
        }
        &--arrow {
          position: fixed;
          top: 50%;
          transform: translateY(-50%);
          z-index: 20;
          @include media-breakpoint-down(md) {
            display: none !important;
          }
          &--left {
            left: 288px;
            @include media-breakpoint-only(md) {
              left: 240px;
            }
          }
          &--right {
            right: 92px;
            @include media-breakpoint-only(md) {
              right: 44px;
            }
          }
        }

        &--close {
          width: 24px;
          height: 24px;
          position: fixed;
          top: 48px;
          right: 92px;
          color: $color-black;
          @include media-breakpoint-down(md) {
            top: 16px;
            right: 12px;
          }
        }

        &--zoom {
          background: #F7F7F7;
          border-radius: 50px;
          width: 33px;
          height: 33px;
          position: fixed;
          right: 92px;
          padding: 4px;
          color: $color-silver-brown;
          @include media-breakpoint-down(md) {
            display: none !important;
          }
          @include media-breakpoint-only(md) {
            right: 44px;
            width: 66px;
            height: 66px;
            padding: 20px;
          }
          &--in {
            bottom: 93px;
            @include media-breakpoint-only(md) {
              bottom: 134px;
            }
          }
          &--out {
            bottom: 48px;
            @include media-breakpoint-only(md) {
              bottom: 44px;
            }
          }
        }
      }
    }
  }


  &-article_number {
    color: $color-black;
    span {
      color: $color-silver-brown;
    }
  }
  &-tag {

  }
  &-title {

  }
  &__price {
    display: flex;
    align-items: center;
    &-current {
      font-weight: 300;
      font-size: 18px;
      line-height: 1.33;
    }
    &-old {
      margin-left: 8px;
      font-weight: 300;
      font-size: 16px;
      line-height: 1.4375;
      text-decoration-line: line-through;
      color: $color-silver-brown;
    }
  }
  &__color {
    &-label {
      color: $color-black;
      span {
        color: $color-silver-brown;
      }
    }
    &-list {
      display: flex;
      &--item {
        margin-right: 12px;
        border-radius: 100%;
        overflow: hidden;
        width: 36px;
        height: 36px;
        flex: 0 0 36px;
        position: relative;
        display: flex;
        @include media-breakpoint-down(md) {
          margin-right: 8px;
          &:last-child {
            margin-right: 0;
          }
        }
        &--value {
          flex: 1 1;
        }
        &:last-child {
          margin-right: 0;
        }
        &--active {
          &:before,
          &:after
          {
            content: "";
            position: absolute;
            border-radius: 100%;
          }
          &:before {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 2px solid $color-dark-golden;
          }
          &:after {
            top: 2px;
            right: 2px;
            bottom: 2px;
            left: 2px;
            border: 2px solid $color-white;
          }
        }
      }
    }
  }
  &__size {
    &-label {
      display: block;
    }
  }
  &__actions {
    display: flex;
    &-cart {
      flex: 1 1;
      .btn {
        width: 100%;
        white-space: nowrap;
        text-align: center;
      }
    }
    &-like {
      flex: 0 0;
      margin-left: 12px;
      .btn {
        padding-top: 17px;
        padding-bottom: 17px;
        width: 148px;
        height: 58px;
        @include media-breakpoint-down(md) {
          width: 58px;
          padding: 17px 16px;
        }
      }
    }
  }
  &__look {
    .btn {
      @include media-breakpoint-down(md) {
        width: 100%;
        text-align: center;
      }
    }
  }
}