.cookie.js-cookie
    .container.pt-48.pb-48
        .row.align-items-center
            .col-xl-10.col-md-12
                .cookie-text
                    | Мы используем файлы cookie с целью анализа и показа рекламы с учетом ваших предпочтений, в
                    | соответствии с <a class="cookie-text--more-btn js-cookie-text--more-btn" href="javascript: void(0)">развернуть</a>
                    .cookie-text--more.js-cookie-text--more
                        | вашими привычками просмотра сайтов и вашего профиля. Более подробная информация
                        | находится в
                        | <a href="#">Политике использования файлов cookie</a>.
            .col-xl-auto.col-md-auto.ms-md-auto
                .cookie-btn--wrapper
                    button.cookie-btn.btn.btn-primary.js-cookie-btn Принять
