.filter
    .filter__params
        .filter__params-item.filter__params-item--link
            .filter__params-head
                .filter__params-name
                    | Категория
                    +svg('arrow-down')
                .filter__params-current
                    .filter__params-current--text
                        | Параметр
                    .filter__params-current--icon
                        +svg('close')
            .filter__params-list
