.filter.d-none.d-lg-flex
    .filter__params
        .filter__params-item.filter__params-item--link
            button.filter__params-head
                .filter__params-name.menu-item
                    | Категория
                    .filter__params-name--icon
                        +svg('arrow-down')
            .filter__params-list--wrapper
                .filter__params-list.filter__params-list--links
                    a(href="#").filter__params-list--item Категория 1
                    a(href="#").filter__params-list--item Категория 2
                    a(href="#").filter__params-list--item Категория 3
                    a(href="#").filter__params-list--item Категория 4
                    a(href="#").filter__params-list--item Категория 1
                    a(href="#").filter__params-list--item Категория 2
                    a(href="#").filter__params-list--item Категория 3
                    a(href="#").filter__params-list--item Категория 4
                    a(href="#").filter__params-list--item Категория 1
                    a(href="#").filter__params-list--item Категория 2
                    a(href="#").filter__params-list--item Категория 3
                    a(href="#").filter__params-list--item Категория 4
                    a(href="#").filter__params-list--item Категория 1
                    a(href="#").filter__params-list--item Категория 2
                    a(href="#").filter__params-list--item Категория 3
                    a(href="#").filter__params-list--item Категория 4

        .filter__params-item.filter__params-item--link
            .filter__params-head
                button.filter__params-name.menu-item
                    | Коллекция
                    .filter__params-name--icon
                        +svg('arrow-down')
                button.filter__params-current.filter__params-current--checkbox.is-active
                    .filter__params-current--label 1
                    .filter__params-current--icon
                        +svg('close')
            .filter__params-list--wrapper
                .filter__params-list.filter__params-list--checkbox
                    label.checkbox.filter__params-list--item
                        input(type="checkbox" value="Параметр 1" checked).checkbox-input.js-filter-checkbox
                        .checkbox-box
                            +svg('checkbox')
                        .checkbox-text.checkbox-text--big Параметр 1
                    label.checkbox.filter__params-list--item
                        input(type="checkbox" value="Параметр 2").checkbox-input.js-filter-checkbox
                        .checkbox-box
                            +svg('checkbox')
                        .checkbox-text.checkbox-text--big Параметр 2
        .filter__params-item.filter__params-item--link
            .filter__params-head
                button.filter__params-name.menu-item
                    | Цена
                    .filter__params-name--icon
                        +svg('arrow-down')
                button.filter__params-current.filter__params-current--price
                    .filter__params-current--label от 5 000 до 20 000
                    .filter__params-current--icon
                        +svg('close')
            .filter__params-list--wrapper.filter__params-list--wrapper--price
                .filter__params-list.filter__params-list--price
                    .filter__params-list--price--heading.mb-12 Цена в ₽
                    .filter__params-list--price--inputs
                        label.filter__params-list--price--item
                            span.filter__params-list--price--label От
                            input(type="number" placeholder="От" value="1000").filter__params-list--price--input.js-filter-price-input.js-filter-price-input--min
                            span.filter__params-list--price--currency руб.
                        label.filter__params-list--price--item
                            span.filter__params-list--price--label До
                            input(type="number" placeholder="До" value="30000").filter__params-list--price--input.js-filter-price-input.js-filter-price-input--max
                            span.filter__params-list--price--currency руб.
                    .filter__params-list--price--track(data-min="1000" data-max="30000")
        .filter__params-item.filter__params-item--link
            .filter__params-head
                button.filter__params-name.menu-item
                    | Цвет
                    .filter__params-name--icon
                        +svg('arrow-down')
                button.filter__params-current.filter__params-current--checkbox.is-active
                    .filter__params-current--label 1
                    .filter__params-current--icon
                        +svg('close')
            .filter__params-list--wrapper
                .filter__params-list.filter__params-list--checkbox
                    label.checkbox.filter__params-list--item
                        input(type="checkbox" value="Параметр 1" checked).checkbox-input.js-filter-checkbox
                        .checkbox-box
                            +svg('checkbox')
                        .checkbox-text.checkbox-text--big Параметр 1
                    label.checkbox.filter__params-list--item
                        input(type="checkbox" value="Параметр 2").checkbox-input.js-filter-checkbox
                        .checkbox-box
                            +svg('checkbox')
                        .checkbox-text.checkbox-text--big Параметр 1
        .filter__params-item.filter__params-item--link
            .filter__params-head
                button.filter__params-name.menu-item
                    | Размер
                    .filter__params-name--icon
                        +svg('arrow-down')
                button.filter__params-current.filter__params-current--checkbox.is-active
                    .filter__params-current--label 1
                    .filter__params-current--icon
                        +svg('close')
            .filter__params-list--wrapper
                .filter__params-list.filter__params-list--checkbox
                    label.checkbox.filter__params-list--item
                        input(type="checkbox" value="Параметр 1" checked).checkbox-input.js-filter-checkbox
                        .checkbox-box
                            +svg('checkbox')
                        .checkbox-text.checkbox-text--big Параметр 1
                    label.checkbox.filter__params-list--item
                        input(type="checkbox" value="Параметр 2").checkbox-input.js-filter-checkbox
                        .checkbox-box
                            +svg('checkbox')
                        .checkbox-text.checkbox-text--big Параметр 1
        .filter__params-item.filter__params-item--link
            .filter__params-head
                button.filter__params-name.menu-item
                    | Стиль
                    .filter__params-name--icon
                        +svg('arrow-down')
                button.filter__params-current.filter__params-current--checkbox.is-active
                    .filter__params-current--label 1
                    .filter__params-current--icon
                        +svg('close')
            .filter__params-list--wrapper
                .filter__params-list.filter__params-list--checkbox
                    label.checkbox.filter__params-list--item
                        input(type="checkbox" value="Параметр 1" checked).checkbox-input.js-filter-checkbox
                        .checkbox-box
                            +svg('checkbox')
                        .checkbox-text.checkbox-text--big Параметр 1
                    label.checkbox.filter__params-list--item
                        input(type="checkbox" value="Параметр 2").checkbox-input.js-filter-checkbox
                        .checkbox-box
                            +svg('checkbox')
                        .checkbox-text.checkbox-text--big Параметр 1
    button.menu-item.filter-reset.d-none.d-lg-block
        | Сбросить фильтры
    .filter-sort.d-none.d-lg-block
        .filter__params-item.filter__params-item--link
            button.filter__params-head
                .filter__params-name.menu-item
                    | Упорядочить
                    .filter__params-name--icon
                        +svg('sort')
            .filter__params-list--wrapper
                .filter__params-list.filter__params-list--checkbox
                    label.radio.filter__params-list--item
                        input(type="radio" name="sort" checked).radio-input
                        .radio-box
                        .radio-text.radio-text--big По популярности
                    label.radio.filter__params-list--item
                        input(type="radio" name="sort").radio-input
                        .radio-box
                        .radio-text.radio-text--big Цена по возрастанию
                    label.radio.filter__params-list--item
                        input(type="radio" name="sort").radio-input
                        .radio-box
                        .radio-text.radio-text--big Цена по убыванию


.filter__mobile.d-lg-none.mb-60
    button.filter__mobile-show.js-open-modal(type="button" aria-controls="sheet" data-target="modal-filter")
        .filter__mobile-show--label.menu-item
            | Фильтр
        .filter__mobile-show--icon
            +svg('filter')
    button.filter-sort.js-open-modal(type="button" aria-controls="sheet" data-target="modal-filter-sort")
        .filter__params-name.menu-item
            | Упорядочить
            .filter__params-name--icon
                +svg('sort')

.bottom-sheet.column.items-center.justify-end.auto-height(aria-hidden="true")#modal-filter
    // Dark background for the sheet
    .overlay
    // The sheet itself
    .contents.column
        // Sheet controls
        header.controls
            // The thing to drag if you want to resize the sheet
            .draggable-area
                .draggable-thumb
        // Body of the sheet
        main.body.fill.column
            .filter-popup
                h2.text-center.mb-60 Фильтры
                .filter
                    .filter__params
                        .filter__params-item.filter__params-item--link
                            button.filter__params-head
                                .filter__params-name.menu-item
                                    | Категория
                                    .filter__params-name--icon
                                        +svg('arrow-down')
                            .filter__params-list--wrapper
                                .filter__params-list.filter__params-list--links
                                    a(href="#").filter__params-list--item Категория 1
                                    a(href="#").filter__params-list--item Категория 2
                                    a(href="#").filter__params-list--item Категория 3
                                    a(href="#").filter__params-list--item Категория 4
                                    a(href="#").filter__params-list--item Категория 1
                                    a(href="#").filter__params-list--item Категория 2
                                    a(href="#").filter__params-list--item Категория 3
                                    a(href="#").filter__params-list--item Категория 4
                                    a(href="#").filter__params-list--item Категория 1
                                    a(href="#").filter__params-list--item Категория 2
                                    a(href="#").filter__params-list--item Категория 3
                                    a(href="#").filter__params-list--item Категория 4
                                    a(href="#").filter__params-list--item Категория 1
                                    a(href="#").filter__params-list--item Категория 2
                                    a(href="#").filter__params-list--item Категория 3
                                    a(href="#").filter__params-list--item Категория 4

                        .filter__params-item.filter__params-item--link
                            .filter__params-head
                                button.filter__params-name.menu-item
                                    | Коллекция
                                    .filter__params-name--icon
                                        +svg('arrow-down')
                                button.filter__params-current.filter__params-current--checkbox.is-active
                                    .filter__params-current--label 1
                                    .filter__params-current--icon
                                        +svg('close')
                            .filter__params-list--wrapper
                                .filter__params-list.filter__params-list--checkbox
                                    label.checkbox.filter__params-list--item
                                        input(type="checkbox" value="Параметр 1" checked).checkbox-input.js-filter-checkbox
                                        .checkbox-box
                                            +svg('checkbox')
                                        .checkbox-text.checkbox-text--big Параметр 1
                                    label.checkbox.filter__params-list--item
                                        input(type="checkbox" value="Параметр 2").checkbox-input.js-filter-checkbox
                                        .checkbox-box
                                            +svg('checkbox')
                                        .checkbox-text.checkbox-text--big Параметр 2
                        .filter__params-item.filter__params-item--link
                            .filter__params-head
                                button.filter__params-name.menu-item
                                    | Цена
                                    .filter__params-name--icon
                                        +svg('arrow-down')
                                button.filter__params-current.filter__params-current--price
                                    .filter__params-current--label от 5 000 до 20 000
                                    .filter__params-current--icon
                                        +svg('close')
                            .filter__params-list--wrapper.filter__params-list--wrapper--price
                                .filter__params-list.filter__params-list--price
                                    .filter__params-list--price--heading.mb-12 Цена в ₽
                                    .filter__params-list--price--inputs
                                        label.filter__params-list--price--item
                                            span.filter__params-list--price--label От
                                            input(type="number" placeholder="От" value="1000").filter__params-list--price--input.js-filter-price-input.js-filter-price-input--min
                                            span.filter__params-list--price--currency руб.
                                        label.filter__params-list--price--item
                                            span.filter__params-list--price--label До
                                            input(type="number" placeholder="До" value="30000").filter__params-list--price--input.js-filter-price-input.js-filter-price-input--max
                                            span.filter__params-list--price--currency руб.
                                    .filter__params-list--price--track(data-min="1000" data-max="30000")
                        .filter__params-item.filter__params-item--link
                            .filter__params-head
                                button.filter__params-name.menu-item
                                    | Цвет
                                    .filter__params-name--icon
                                        +svg('arrow-down')
                                button.filter__params-current.filter__params-current--checkbox.is-active
                                    .filter__params-current--label 1
                                    .filter__params-current--icon
                                        +svg('close')
                            .filter__params-list--wrapper
                                .filter__params-list.filter__params-list--checkbox
                                    label.checkbox.filter__params-list--item
                                        input(type="checkbox" value="Параметр 1" checked).checkbox-input.js-filter-checkbox
                                        .checkbox-box
                                            +svg('checkbox')
                                        .checkbox-text.checkbox-text--big Параметр 1
                                    label.checkbox.filter__params-list--item
                                        input(type="checkbox" value="Параметр 2").checkbox-input.js-filter-checkbox
                                        .checkbox-box
                                            +svg('checkbox')
                                        .checkbox-text.checkbox-text--big Параметр 1
                        .filter__params-item.filter__params-item--link
                            .filter__params-head
                                button.filter__params-name.menu-item
                                    | Размер
                                    .filter__params-name--icon
                                        +svg('arrow-down')
                                button.filter__params-current.filter__params-current--checkbox.is-active
                                    .filter__params-current--label 1
                                    .filter__params-current--icon
                                        +svg('close')
                            .filter__params-list--wrapper
                                .filter__params-list.filter__params-list--checkbox
                                    label.checkbox.filter__params-list--item
                                        input(type="checkbox" value="Параметр 1" checked).checkbox-input.js-filter-checkbox
                                        .checkbox-box
                                            +svg('checkbox')
                                        .checkbox-text.checkbox-text--big Параметр 1
                                    label.checkbox.filter__params-list--item
                                        input(type="checkbox" value="Параметр 2").checkbox-input.js-filter-checkbox
                                        .checkbox-box
                                            +svg('checkbox')
                                        .checkbox-text.checkbox-text--big Параметр 1
                        .filter__params-item.filter__params-item--link
                            .filter__params-head
                                button.filter__params-name.menu-item
                                    | Стиль
                                    .filter__params-name--icon
                                        +svg('arrow-down')
                                button.filter__params-current.filter__params-current--checkbox.is-active
                                    .filter__params-current--label 1
                                    .filter__params-current--icon
                                        +svg('close')
                            .filter__params-list--wrapper
                                .filter__params-list.filter__params-list--checkbox
                                    label.checkbox.filter__params-list--item
                                        input(type="checkbox" value="Параметр 1" checked).checkbox-input.js-filter-checkbox
                                        .checkbox-box
                                            +svg('checkbox')
                                        .checkbox-text.checkbox-text--big Параметр 1
                                    label.checkbox.filter__params-list--item
                                        input(type="checkbox" value="Параметр 2").checkbox-input.js-filter-checkbox
                                        .checkbox-box
                                            +svg('checkbox')
                                        .checkbox-text.checkbox-text--big Параметр 1
.bottom-sheet.column.items-center.justify-end.auto-height(aria-hidden="true")#modal-filter-sort
    // Dark background for the sheet
    .overlay
    // The sheet itself
    .contents.column
        // Sheet controls
        header.controls
            // The thing to drag if you want to resize the sheet
            .draggable-area
                .draggable-thumb
        // Body of the sheet
        main.body.fill.column
            .filter-popup
                h2.text-center.mb-60 Упорядочить
                .filter
                    .filter__params-list--sort
                        label.radio.filter__params-list--item
                            input(type="radio" name="sort" checked).radio-input
                            .radio-box
                            .radio-text.radio-text--big По популярности
                        label.radio.filter__params-list--item
                            input(type="radio" name="sort").radio-input
                            .radio-box
                            .radio-text.radio-text--big Цена по возрастанию
                        label.radio.filter__params-list--item
                            input(type="radio" name="sort").radio-input
                            .radio-box
                            .radio-text.radio-text--big Цена по убыванию
                                label.checkbox.filter__params-list--item
                                    input(type="checkbox" value="Параметр 3").checkbox-input.js-filter-checkbox
                                    .checkbox-box
                                        +svg('checkbox')
                                    .checkbox-text.checkbox-text--big Параметр 3
