mixin header(headerClass)
	header.header(class=headerClass ? headerClass : "is-dark")
		.container
			.row.align-items-center
				.col-xl-4.col-md-3.col-auto
					a.header-brand(href="/")
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 173 60" fill="currentColor">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M82.4336 31.1436C82.8586 31.0647 83.5619 30.6909 84.3104 30.1925L83.3856 32.6743C82.9818 32.8474 82.6298 33.0346 82.2263 33.21C82.2394 33.481 82.1988 34.1915 82.5538 34.9065L81.1839 38.583C79.9803 38.0289 79.0817 36.9604 78.393 35.1786C78.393 35.1786 77.6187 35.8949 73.7163 39.1076C69.8287 42.2774 67.9879 43.2806 67.7154 39.6184C67.4977 35.9685 68.6403 32.1469 69.8764 28.5266C66.3345 33.039 63.2395 36.8025 59.475 37.9795C55.6578 39.144 54.7134 36.5352 53.9239 33.9644C53.1744 34.4599 48.8594 38.476 45.6228 40.047C43.0903 41.2451 42.597 40.9042 42.103 40.1131C41.4466 38.6965 43.2704 34.4058 43.2704 34.4058C32.4704 38.7268 21.2869 41.6537 7.83374 37.204C1.77519 35.0026 -1.3653 29.3556 0.56875 23.5613L0.908131 22.6506C1.54471 21.0939 2.57555 19.5398 4.03496 18.0412C12.1279 9.02969 27.3791 2.30041 50.9179 0.416077C66.3772 -0.821379 84.2331 0.893123 94.427 3.04222L94.1195 3.86758C83.4642 1.74636 69.2955 0.275291 51.7948 2.60266C32.228 5.02445 20.6333 10.4171 12.9209 20.3732C9.65013 25.2194 11.7184 31.4674 16.8385 33.3124C27.6142 36.6305 35.9519 34.8311 45.4837 30.4337C48.0476 29.1524 55.5861 24.5061 57.5232 23.3928C57.8934 23.6149 58.1634 23.9485 58.2836 24.3811C58.44 24.8689 58.026 25.222 57.8089 25.3493C55.0502 27.3038 48.9949 32.2106 47.4894 34.2828C46.0767 36.1061 46.2309 37.3573 47.9047 36.4954C50.3965 35.1068 53.2747 31.9199 55.7801 30.491C56.7993 29.8781 57.8844 30.4506 57.7899 31.9115C57.6931 33.3735 57.3049 34.2712 58.4198 35.2105C59.5215 36.1919 61.9092 34.7772 64.5779 32.3067C67.1953 29.8227 70.7913 24.5595 71.6018 22.6829C68.9062 22.8078 66.0841 22.8142 63.4741 22.5533C63.0931 21.6101 62.7334 20.7586 62.3018 19.8029C65.7645 20.0391 69.3561 20.0819 73.0949 19.8886C74.065 18.4979 74.9086 16.9895 75.7313 15.3854C75.9161 14.8894 78.0608 15.487 77.8701 15.8475C77.6405 16.918 77.0292 18.2558 76.9394 18.9544C77.3129 19.314 77.5703 19.375 77.8991 19.8579C77.8976 20.6226 77.2688 22.0019 76.9945 22.4319C76.8674 22.6267 75.9769 22.5954 75.531 22.5796C74.1433 25.8492 71.4406 35.3746 71.398 36.3977C71.3034 37.4101 72.0281 37.5819 73.1558 37.1302C74.4254 36.4406 76.9001 34.6445 78.2066 33.5597C78.6675 31.8693 79.1478 30.2743 80.363 28.2238C81.245 26.7673 84.0719 24.0213 86.8202 23.4571L85.3725 27.3421C83.7222 27.9864 82.3997 30.3268 82.4336 31.1436V31.1436ZM94.1195 3.86758L94.427 3.04222C94.5825 3.07908 94.7371 3.11573 94.8923 3.15248L94.5334 3.96569L94.1195 3.86758V3.86758ZM116.971 27.2776C116.822 27.3781 116.687 27.436 116.537 27.5362C116.206 27.8169 116.191 29.0729 115.323 30.0373C112.904 32.7455 109.349 34.8721 108.077 35.5595C106.439 36.4759 105.025 37.4004 105.144 36.169C105.368 34.9629 106.344 32.9469 106.823 31.2134C107.85 28.7585 106.569 26.7463 103.396 25.2739C102.199 24.8542 101.076 24.5439 99.9814 24.5993C99.3013 25.0679 97.7085 29.1878 95.0101 31.7412C92.3265 34.2541 88.5678 36.0166 86.4599 36.3724C83.979 36.6829 82.9498 35.8089 82.5538 34.9065L81.1839 38.583C84.1643 39.9657 88.3875 37.8625 91.8385 35.7124C96.6594 32.7631 97.3942 31.5425 98.7823 29.9373C99.3624 29.4444 99.6719 29.0684 100.157 28.8238C101.811 27.8666 103.626 30.4107 103.356 31.7406C102.801 33.6799 101.97 35.4609 101.165 37.9239C100.908 38.7626 100.665 40.7741 103.809 39.4506C107.02 38.0975 113.455 33.2374 115.323 31.7009L116.971 27.2776V27.2776ZM121.56 14.9623C120.261 14.9697 118.831 15.9332 118.047 17.2781C117.188 18.8283 117.576 20.3602 118.886 20.6258C119.041 20.663 119.197 20.6996 119.42 20.707L121.56 14.9623V14.9623ZM85.3725 27.3421C85.7078 27.1968 86.0135 27.1351 86.3914 27.1788C87.7485 27.3208 85.9726 29.0583 84.3104 30.1925L83.3856 32.6743C85.6493 31.5908 87.814 30.1709 89.7703 28.2501C91.1009 26.4959 91.0335 24.8601 89.9389 24.0179C88.9533 23.3328 87.8543 23.2525 86.8202 23.4571L85.3725 27.3421ZM119.42 20.707C120.668 20.6889 122.097 19.7235 122.88 18.3803C123.741 16.8289 123.354 15.2973 122.041 15.0319C121.887 14.9954 121.732 14.9585 121.56 14.9623L119.42 20.707ZM115.323 31.7009L116.971 27.2776C118.28 26.6433 119.59 27.3594 120.375 28.1306C121.285 29.0212 121.284 33.5639 121.963 34.31C122.696 35.0675 123.84 35.0253 126.235 32.9837C127.745 31.8126 130.072 28.5863 132.53 25.9304C135.059 23.8308 135.8 23.9633 136.546 24.2294C137.737 24.512 138.559 25.7858 138.392 26.6906C138.186 27.5427 135.971 31.066 135.381 32.4986C134.827 33.986 135.32 34.3277 136.932 33.18C137.975 32.3489 141.56 28.4765 144.258 27.5879C145.291 27.2469 146.463 27.1197 146.76 28.1345C146.946 28.8538 147.526 32.5899 148.956 32.8392C151.165 32.5071 154.277 29.6028 155.831 28.3077C158.606 25.8617 165.373 20.404 168.573 20.4418C169.06 20.6492 169.31 21.3375 168.578 21.7939C164.733 23.9412 160.153 27.3077 157.727 29.881C156.449 31.6487 155.993 33.4731 156.667 33.6329C157.776 33.9864 163.219 28.7535 165.316 27.677C165.951 27.3321 166.501 27.0596 166.689 27.013C167.418 26.872 168.626 27.5634 168.361 28.1297C167.933 28.9733 167.801 29.9307 167.721 30.901C167.759 31.8558 168.705 32.349 169.634 32.1207L171.585 31.2786C172.178 31.9577 172.582 32.6854 171.672 33.4579C169.928 34.6625 168.572 34.9721 166.832 34.6503C165.141 34.3393 164.518 33.2912 164.928 29.9246C161.778 32.3263 157.346 35.5932 155.176 36.8777C153.005 38.1627 151.84 37.6602 152.195 35.946C152.567 34.1903 152.79 33.7483 153.273 32.6041C151.179 33.6802 148.7 37.4563 147.179 35.7908C146.197 34.7933 145.281 33.3179 143.967 32.1511C143.507 31.7259 142.578 31.1916 141.973 31.4533C140.056 32.2125 137.767 33.9632 134.26 38.079C133.491 38.933 132.801 40.0275 131.351 40.135C130.461 40.1037 130.426 39.2858 130.459 37.9885C130.529 36.7463 132.897 31.145 133.149 30.1691C133.467 29.616 132.496 29.3401 132.055 29.7759C131.611 30.21 126.611 35.0063 125.255 35.7652C121.325 38.2962 120.057 37.4566 118.502 34.9734C117.675 33.5637 117.749 32.4556 117.266 31.9366C116.747 31.3631 116.02 31.1908 115.669 31.3769C115.589 31.4488 115.438 31.5479 115.323 31.7009" />
							<path fill-rule="evenodd" clip-rule="evenodd" d="M37.5484 51.1175H38.6341V58.4987H42.0161L41.9744 59.6665H37.4648L37.5484 51.1175Z" />
							<path fill-rule="evenodd" clip-rule="evenodd" d="M1.76562 54.0781H19.2192V55.2041H1.76578L1.76562 54.0781" />
							<path fill-rule="evenodd" clip-rule="evenodd" d="M155.547 54.953H173.001V56.0791H155.547V54.953Z" />
							<path fill-rule="evenodd" clip-rule="evenodd" d="M63.3523 51.2006H58.6758V59.833H63.6863V58.457H59.8449V55.9131H63.3106V54.4535H60.346H59.8867L59.9284 52.4517H63.3523V51.2006" />
							<path fill-rule="evenodd" clip-rule="evenodd" d="M82.4771 51.2844L85.4187 57.7064L87.9052 51.3677L89.9512 51.4094L89.9095 59.708H88.6436L88.4898 53.7066L85.8594 59.8332H85.0661L82.1431 53.6196L82.1014 60H80.6816L80.7234 51.2739C80.7234 51.2739 82.3936 51.2426 82.4771 51.2844Z" />
							<path fill-rule="evenodd" clip-rule="evenodd" d="M109.407 55.9551L110.556 53.0151L111.662 55.9759L109.407 55.9551ZM114.785 59.6248L111.204 51.326H109.826L106.652 59.4997H108.239L108.991 57.498H112.164L113.208 59.6875L114.785 59.6248" />
							<path fill-rule="evenodd" clip-rule="evenodd" d="M130.975 59.7915C131.016 59.5413 131.038 51.4094 131.038 51.4094H132.707L136.528 57.8106V51.3677H137.927V59.875H135.881L132.248 53.578V59.7915H130.975" />
						</svg>
				.col-md.d-none.d-lg-block
					nav.header__nav
						a.header__nav-item.menu-item(href="#") Новинки
						a.header__nav-item.menu-item(href="#") Sale
						a.header__nav-item.menu-item.js-mega-menu-item(href="#" data-mega-menu-dropdown="clothes") Одежда
						a.header__nav-item.menu-item(href="#") Верхняя одежда
						a.header__nav-item.menu-item(href="#") Подборки по стилю
						a.header__nav-item.menu-item(href="#") Lookbook
				.col-auto.ms-auto
					.header__actions
						button.header__actions-search.js-searchbar-btn
							+svg("search")
						a.header__actions-personal(href="#").d-none.d-lg-flex
							.header__actions-personal--icon
								+svg("user")
							.header__actions-personal--label.link-personal Войти
						a.header__actions-favorite.favorite-icon--btn
							+svg('favorite').favorite-icon
							.js-favorite--count.counter 23
						a.header__actions-cart
							+svg('cart')
							.js-cart--count.counter 1
				.col-md-1.col-auto.d-lg-none.text-end.fz-0
					button.header-burger
						span
						span
	include header/burger-menu
	include header/mega-menu
	include searchbar
