.navigation.mt-60
    a(href="#").navigation-arrow.navigation-arrow--disabled
        +svg('chevron_left')
    .navigation-list
        span 1
        a(href="#") 2
        a(href="#") 3
        a(href="#") 4
        a(href="#") 5
        a(href="#") ...
        a(href="#") 12
    a(href="#").navigation-arrow
        +svg('chevron_right')
.navigation-btn.text-center.mt-24
    button.btn.btn-primary Загрузить ещё