.aside.personal-aside
	ul
		li.active
			a(href="/personal-data.html") Личные данные
		li
			a(href="/personal-orders.html") Заказы
		li
			a(href="/personal-loyalty.html") Программа лояльности
		li
			a(href="/personal-subscriptions.html") Управление подписками
		li
			a(href="/personal-favourites.html") Избранное

	a.logout(href="/personal-auth.html") Выйти
