form.searchbar
    .container
        .row.justify-content-center
            .col-lg-8.col-md-auto
                .form-control.form-control--icon-right.searchbar-input
                    button(type="submit").form-control--icon
                        +svg('search')
                    input(type="text" placeholder="Поиск").form-control--input
                    label.form-control--label Поиск