main.not-found.pt-120.mb-120
    .container.text-center.mb-120
        .mb-24
            h1.h2 Страница не найдена
        .typography-main
            | Вы можете вернуться в <a href="/catalog/" class="link-or-text link-or-text--underline link-or-text--primary">Каталог</a>
            | или на <a href="/" class="link-or-text link-or-text--underline link-or-text--primary">Главную</a>
    +block_products_slider({
        title: true
    }).mb-120