main.d-flex.flex-column.justify-content-center
    .container.text-center
        .mb-24
            h1.h2 Сервис времемнно недоступен
        .typography-main
            | Пожалуйста, повторите попытку позже или обратитесь по телефону <номер>