main.pt-60.pb-60
    .container
        .text-center.mb-24
            h1.h2 B2B
        .row.justify-content-center.mb-60
            .col-lg-14.col-xl-9.text-center.typography-main
                | Предлагаем Вам выгодное сотрудничество.Ассортиментная матрица насчитывает тысячи уникальных моделей
                | различных цветов, стилей и кроя по доступным ценам.Наши профессиональные консультанты - это
                | зарекомендовавшие себя специалисты в области fashion.Индивидуальный подход,внимание,чувство стиля и
                | оперативность - залог успешного сотрудничества.
    .cta-form--wrapper
        .container
            .row.justify-content-center
                .col-xl-8.col-lg-10.col-md-12
                    form.form.cta-form
                        .cta-form-title.h2.text-center.mb-24 Связаться с нами
                        .cta-form-subtitle.text-center.mb-48 Будем рады ответить на все ваши вопросы
                        .form-row
                            .form-control
                                input(type="text" placeholder="Ваше имя*").form-control--input
                                label.form-control--label Ваше имя*
                        .form-row
                            .form-control
                                input(type="text" placeholder="Email*").form-control--input
                                label.form-control--label Email*
                        .form-row
                            .form-control
                                input(type="tel" placeholder="Телефон*").form-control--input
                                label.form-control--label Телефон*
                        .form-row
                            select.select(placeholder="Город*")
                                option
                                option Москва
                                option Чебоксары
                                option Казань
                        .form-row
                            .form-control
                                textarea(placeholder="Сообщение").form-control--input.cta-form-textarea
                                label.form-control--label Сообщение
                        .form-row.mb-48
                            .form-control.form-control--icon-right
                                .form-control--icon
                                    +svg('attach')
                                input(type="file" class="form-control--file")
                                input(type="text" placeholder="Прикрепите файл" readonly).form-control--input
                                label.form-control--label Прикрепите файл

                        .row.justify-content-center
                            .col-xl-8.col-md-10
                                .cta-form-btn--wrapper.mb-12
                                    button.btn.btn-primary.cta-form-btn Отправить
                                .cta-form-agree
                                    label.checkbox
                                        input(type="checkbox").checkbox-input
                                        .checkbox-box
                                            +svg('checkbox')
                                        .checkbox-text.checkbox-text--small Согласен на <a href="#"> обработку персональных данных </a>
    .b2b__location
        .container
            .row
                .col-lg-8.order-2.order-lg-0
                    .b2b__location-map.js-b2b-location-map
                .col-lg-8.order-1.order-lg-0
                    .b2b__location-content
                        .b2b__location-title.mb-24
                            h2.h3 B2B
                        .b2b__location-text.typography-main
                            p Вы можете подъехать в удобное для Вас время по графику работы склада.
                            p Для тех, кто живёт в регионе и желает оформить оптовый заказ, мы предлагаем в качестве доставки курьерские и почтовые службы.
                        .b2b__location-contacts
                            .b2b__location-contacts--item.link-or-text г.Москва, 5-й Донской проезд, д.21-Б, стр.10
                            a(href="tel: +74956607502").b2b__location-contacts--item.link-or-text 8 (495) 660 75 02
                            a(href="mailto: btb@caterinaleman.ru").b2b__location-contacts--item.link-or-text btb@caterinaleman.ru