main.pt-60.career
    .container
        .text-center.mb-24
            h1.h2 Карьера
        .row.justify-content-center.mb-60
            .col-lg-14.col-xl-9.text-center.typography-main
                | Вступительный текст о преимуществах работы в Caterima Leman.
                | Пример: Мы установили высокую плану в Caterina Leman - мы с любовью встречаем новых людей,
                | усердно работаем для продвижения такой среды, в которой каждый чувствует себя ценным и ценит других.
                | Это означает, что мы поддерживаем индивидуальность и признаем вклад каждого сотрудника,
                | независимо от его происхождения.
        .text-center.mb-60
            h2 Вакансии
        .row.justify-content-center.mb-60
            .col-md-13.col-xl-8
                .career__section.mb-48
                    .career__section-heading.text-center.mb-12
                        h3 Москва
                    .career__section-list
                        .career__section-list--item
                            .career__section-list--heading.typography-main.mb-12 Продавец-кассир
                            .career__section-list--text.link-or-text.mb-12
                                | Свободный текст: пример: Метрополис, Ленинградское ш., 16А стр 4, Москва,
                                | Частичная занятость, до 40 часов
                            .career__section-list--link
                                a.link.link--big.link-primary
                                    .link-icon
                                        +svg('file')
                                    | Подробнее о вакансии
                        .career__section-list--item
                            .career__section-list--heading.typography-main.mb-12 E-commerce Operation Assistant
                            .career__section-list--text.link-or-text.mb-12
                                | Свободный текст: пример: Метрополис, Ленинградское ш., 16А стр 4, Москва,
                                | Частичная занятость, до 40 часов
                            .career__section-list--link
                                a.link.link--big.link-primary
                                    .link-icon
                                        +svg('file')
                                    | Подробнее о вакансии
                        .career__section-list--item
                            .career__section-list--heading.typography-main.mb-12 E-commerce Operation Assistant
                            .career__section-list--text.link-or-text.mb-12
                                | Свободный текст: пример: Метрополис, Ленинградское ш., 16А стр 4, Москва,
                                | Частичная занятость, до 40 часов
                            .career__section-list--link
                                a.link.link--big.link-primary
                                    .link-icon
                                        +svg('file')
                                    | Подробнее о вакансии
                        .career__section-list--item
                            .career__section-list--heading.typography-main.mb-12 E-commerce Operation Assistant
                            .career__section-list--text.link-or-text.mb-12
                                | Свободный текст: пример: Метрополис, Ленинградское ш., 16А стр 4, Москва,
                                | Частичная занятость, до 40 часов
                            .career__section-list--link
                                a.link.link--big.link-primary
                                    .link-icon
                                        +svg('file')
                                    | Подробнее о вакансии
                        .career__section-list--item
                            .career__section-list--heading.typography-main.mb-12 E-commerce Operation Assistant
                            .career__section-list--text.link-or-text.mb-12
                                | Свободный текст: пример: Метрополис, Ленинградское ш., 16А стр 4, Москва,
                                | Частичная занятость, до 40 часов
                            .career__section-list--link
                                a.link.link--big.link-primary
                                    .link-icon
                                        +svg('file')
                                    | Подробнее о вакансии
                .career__section
                    .career__section-heading.text-center.mb-12
                        h3 Екатеринбург
                    .career__section-list
                        .career__section-list--item
                            .career__section-list--heading.typography-main.mb-12 Visual Merchandiser (Визуальный мерчендайзер)
                            .career__section-list--text.link-or-text.mb-12
                                | Свободный текст: пример: Метрополис, Ленинградское ш., 16А стр 4, Москва,
                                | Частичная занятость, до 40 часов
                            .career__section-list--link
                                a.link.link--big.link-primary
                                    .link-icon
                                        +svg('file')
                                    | Подробнее о вакансии
                        .career__section-list--item
                            .career__section-list--heading.typography-main.mb-12 Продавец-кассир
                            .career__section-list--text.link-or-text.mb-12
                                | Свободный текст: пример: Метрополис, Ленинградское ш., 16А стр 4, Москва,
                                | Частичная занятость, до 40 часов
                            .career__section-list--link
                                a.link.link--big.link-primary
                                    .link-icon
                                        +svg('file')
                                    | Подробнее о вакансии
    .cta-form--wrapper
        .container
            .row.justify-content-center
                .col-xl-8.col-lg-10.col-md-12
                    form.form.cta-form
                        .cta-form-title.h2.text-center.mb-24 Связаться с нами
                        .cta-form-subtitle.text-center.mb-48 Будем рады ответить на все ваши вопросы
                        .form-row
                            .form-control
                                input(type="text" placeholder="Ваше имя*").form-control--input
                                label.form-control--label Ваше имя*
                        .form-row
                            .form-control
                                input(type="text" placeholder="Email*").form-control--input
                                label.form-control--label Email*
                        .form-row
                            .form-control
                                input(type="tel" placeholder="Телефон*").form-control--input
                                label.form-control--label Телефон*
                        .form-row
                            select.select(placeholder="Город*")
                                option
                                option Москва
                                option Чебоксары
                                option Казань
                        .form-row
                            select.select(placeholder="Вакансии")
                                option
                                option Продавец-кассир
                                option E-commerce Operation Assistant
                                option Visual Merchandiser (Визуальный мерчендайзер)
                                option Продавец-кассир

                        .form-row
                            .form-control
                                textarea(placeholder="Сообщение").form-control--input.cta-form-textarea
                                label.form-control--label Сообщение
                        .form-row.mb-48
                            .form-control.form-control--icon-right
                                .form-control--icon
                                    +svg('attach')
                                input(type="file" class="form-control--file")
                                input(type="text" placeholder="Прикрепите файл" readonly).form-control--input
                                label.form-control--label Прикрепите файл

                        .row.justify-content-center
                            .col-xl-8.col-md-10
                                .cta-form-btn--wrapper.mb-12
                                    button.btn.btn-primary.cta-form-btn Отправить
                                .cta-form-agree
                                    label.checkbox
                                        input(type="checkbox").checkbox-input
                                        .checkbox-box
                                            +svg('checkbox')
                                        .checkbox-text.checkbox-text--small Согласен на <a href="#"> обработку персональных данных </a>
    .container.mb-60
        .row.justify-content-center
            .col-xl-8.col-lg-10.col-md-12
                .career-card
                    .career-card--title.mb-24
                        h3 HR отдел
                    .career-card--item.typography-main.mb-8
                        a(href="mailto: hr@caterinaleman.ru") hr@caterinaleman.ru
                    .career-card--item.typography-main
                        a(href="tel: +78006896565") 8 800 689 65 65