main.home
    +block_cover().mb-120
    +block_banners([
        {
            button: 'Название кнопки',
            img: '/images/pages/main/bannersImg1.jpg',
            href: "#"
        },
        {
            button: 'Название кнопки',
            img: '/images/pages/main/bannersImg2.jpg',
            href: "#"
        }
    ]).mb-120
    +block_content_aside([
        {
            heading: 'Заголовок',
            img: '/images/pages/main/contentAsideImg1.jpg',
            href: "#",
            button: 'Название кнопки',
            text: 'Пример текста, написаного из админ. части сайта. <br/> Предвкушаем весну с Caterina Leman и вступаем в модную <br/> игру нового сезона весна-лето 21. Выразительность, <br/> уверенность, динамичность - три ключевых слова коллекции, <br/> которые найдут отклик в каждом сердце.',
            position: 'left'
        },{
            heading: 'Заголовок',
            img: '/images/pages/main/contentAsideImg1.jpg',
            href: "#",
            button: 'Название кнопки',
            text: 'Пример текста, написаного из админ. части сайта. <br/> Предвкушаем весну с Caterina Leman и вступаем в модную <br/> игру нового сезона весна-лето 21. Выразительность, <br/> уверенность, динамичность - три ключевых слова коллекции, <br/> которые найдут отклик в каждом сердце.',
            position: 'right'
        },
    ]).mb-120
    +block_consulting({
        images: '/images/pages/main/consultingImg.jpg',
        heading: "Запишитесь на персональную консультацию стилиста",
        text: 'На персональной консультации со стилистом Caterina Leman вы сможете собрать образ для важного события или подобрать комплекты одежды, которые будут подчеркивать ваш индивидуальный стиль.',
        btnText: 'Записаться <span class="d-none d-md-inline">на консультацию</span>',
        btnHref: '#'
    }).mb-120
    +block_subscribe().mb-120
