main.pt-60
    .mb-60.text-center
        h1.h2 Весна-Лето 2022
    .mb-120
        +block_banners([
            {
                button: 'Осень-Зима 2022/2023',
                img: '/images/pages/lookbook/22_10_06_CL_CL_07771.jpg',
                href: "#"
            },
            {
                button: 'Осень-Зима 2022/2023',
                img: '/images/pages/lookbook/22_10_06_CL_CL_07826.jpg',
                href: "#"
            }
        ]).mb-desktop-24.mb-mobile-48
        +block_banners([
            {
                button: 'Осень-Зима 2022/2023',
                img: '/images/pages/lookbook/22_10_06_CL_CL_07851.jpg',
                href: "#"
            },
            {
                button: 'Осень-Зима 2022/2023',
                img: '/images/pages/lookbook/22_10_06_CL_CL_07891.jpg',
                href: "#"
            },
            {
                button: 'Осень-Зима 2022/2023',
                img: '/images/pages/lookbook/22_10_06_CL_CL_07903.jpg',
                href: "#"
            }
        ]).mb-desktop-24.mb-mobile-48
        +block_banners([
            {
                button: 'Осень-Зима 2022/2023',
                img: '/images/pages/lookbook/22_10_06_CL_CL_07944.jpg',
                href: "#"
            },
            {
                button: 'Осень-Зима 2022/2023',
                img: '/images/pages/lookbook/22_10_06_CL_CL_08018.jpg',
                href: "#"
            }
        ]).mb-desktop-24.mb-mobile-48
        +block_banners([
            {
                button: 'Осень-Зима 2022/2023',
                img: '/images/pages/lookbook/22_10_06_CL_CL_08048.jpg',
                href: "#"
            },
            {
                button: 'Осень-Зима 2022/2023',
                img: '/images/pages/lookbook/22_10_06_CL_CL_08074.jpg',
                href: "#"
            },
            {
                button: 'Осень-Зима 2022/2023',
                img: '/images/pages/lookbook/22_10_06_CL_CL_08123.jpg',
                href: "#"
            }
        ]).mb-desktop-24.mb-mobile-48
        +block_banners([
            {
                button: 'Осень-Зима 2022/2023',
                img: '/images/pages/lookbook/22_10_06_CL_CL_08157.jpg',
                href: "#"
            },
            {
                button: 'Осень-Зима 2022/2023',
                img: '/images/pages/lookbook/22_10_06_CL_CL_08180.jpg',
                href: "#"
            }
        ]).mb-desktop-24.mb-mobile-48
        +block_banners([
            {
                button: 'Осень-Зима 2022/2023',
                img: '/images/pages/lookbook/22_10_06_CL_CL_08187.jpg',
                href: "#"
            },
            {
                button: 'Осень-Зима 2022/2023',
                img: '/images/pages/lookbook/22_10_06_CL_CL_08257.jpg',
                href: "#"
            },
            {
                button: 'Осень-Зима 2022/2023',
                img: '/images/pages/lookbook/22_10_06_CL_CL_08284.jpg',
                href: "#"
            }
        ]).mb-desktop-24.mb-mobile-48
        +block_banners([
            {
                button: 'Осень-Зима 2022/2023',
                img: '/images/pages/lookbook/22_10_06_CL_CL_08309.jpg',
                href: "#"
            },
            {
                button: 'Осень-Зима 2022/2023',
                img: '/images/pages/lookbook/22_10_06_CL_CL_08356.jpg',
                href: "#"
            }
        ]).mb-desktop-24.mb-mobile-48
        +block_banners([
            {
                button: 'Осень-Зима 2022/2023',
                img: '/images/pages/lookbook/22_10_06_CL_CL_08374.jpg',
                href: "#"
            },
            {
                button: 'Осень-Зима 2022/2023',
                img: '/images/pages/lookbook/22_10_06_CL_CL_08390.jpg',
                href: "#"
            },
            {
                button: 'Осень-Зима 2022/2023',
                img: '/images/pages/lookbook/22_10_06_CL_CL_07925.jpg',
                href: "#"
            }
        ])

    .text-center.mb-120
        a(href="#").link.link-primary.link--big Посмотреть образы предыдущих коллекций