main.pt-60.news
    .mb-60.text-center
        h1.h2 Новости
    .news__list.mb-120
        .container
            .news__list--row
                .news__list--col
                    .news__list-item
                        a(href="#").news__list-img.mb-12
                            +lazyPicture({
                                src: '/images/pages/news/news_list1.jpg',
                                alt: '',
                            })
                        .news__list-date.mb-12 21 ОКТЯБРЯ 2021
                        .news__list-title
                            h2.h3 22-летие сети салонов caterina leman в России
                        .news__list-text.typography-main.mt-12
                            | Яркая осень с Caterina Leman продолжается! Мы с огромным удовольствием приглашаем вас в салон
                            | Caterina Leman в ТЦ Европейский  в честь нашего Дня Рождения!
                        .news__list-link.mt-24
                            a(href="#").link.link-primary Подробнее (если будет ссылка на стр. новости)
                .news__list--col
                    .news__list-item.news__list-item--aside
                        .news__list-date.mb-12 21 ОКТЯБРЯ 2021
                        .news__list-title
                            h2.h3 Новость без фото: 22-летие сети салонов caterina leman в России
                        .news__list-text.typography-main.mt-12
                            | Яркая осень с Caterina Leman продолжается! Мы с огромным удовольствием приглашаем вас в салон
                            | Caterina Leman в ТЦ Европейский  в честь нашего Дня Рождения!
                        .news__list-link.mt-24
                            a(href="#").link.link-primary Подробнее (если будет ссылка на стр. новости)
                    .news__list-item.news__list-item--aside
                        .news__list-date.mb-12 21 ОКТЯБРЯ 2021
                        .news__list-title
                            h2.h3 Новость без ссылки (статичное небольшое сообщение к которому нет отдельной страницы)
                        .news__list-text.typography-main.mt-12
                            | Яркая осень с Caterina Leman продолжается! Мы с огромным удовольствием приглашаем вас в салон
                            | Caterina Leman в ТЦ Европейский  в честь нашего Дня Рождения!
            .news__list--row
                .news__list--col
                    .news__list-item
                        .news__list-img.mb-12
                            +lazyPicture({
                                src: '/images/pages/news/news_list2.jpg',
                                alt: '',
                            })
                        .news__list-date.mb-12 21 ОКТЯБРЯ 2021
                        .news__list-title
                            h2.h3 Новость с фото без ссылки
                        .news__list-text.typography-main.mt-12
                            | Яркая осень с Caterina Leman продолжается! Мы с огромным удовольствием приглашаем вас в салон
                            | Caterina Leman в ТЦ Европейский  в честь нашего Дня Рождения!
                .news__list--col
                    .news__list-item
                        .news__list-img.mb-12
                            +lazyPicture({
                                src: '/images/pages/news/news_list3.jpg',
                                alt: '',
                            })
                        .news__list-date.mb-12 21 ОКТЯБРЯ 2021
                        .news__list-title
                            h2.h3 Новость без описательного блока
                        .news__list-link.mt-24
                            a(href="#").link.link-primary Подробнее (если будет ссылка на стр. новости)
            .news__list--row
                .news__list--col
                    .news__list-item.news__list-item--aside
                        .news__list-date.mb-12 21 ОКТЯБРЯ 2021
                        .news__list-title
                            h2.h3 Новость без фото: 22-летие сети салонов caterina leman в России
                        .news__list-text.typography-main.mt-12
                            | Яркая осень с Caterina Leman продолжается! Мы с огромным удовольствием приглашаем вас в салон
                            | Caterina Leman в ТЦ Европейский  в честь нашего Дня Рождения!
                        .news__list-link.mt-24
                            a(href="#").link.link-primary Подробнее (если будет ссылка на стр. новости)
                    .news__list-item.news__list-item--aside
                        .news__list-date.mb-12 21 ОКТЯБРЯ 2021
                        .news__list-title
                            h2.h3 Новость без ссылки (статичное небольшое сообщение к которому нет отдельной страницы)
                        .news__list-text.typography-main.mt-12
                            | Яркая осень с Caterina Leman продолжается! Мы с огромным удовольствием приглашаем вас в салон
                            | Caterina Leman в ТЦ Европейский  в честь нашего Дня Рождения!
                .news__list--col
                    .news__list-item
                        a(href="#").news__list-img.mb-12
                            +lazyPicture({
                                src: '/images/pages/news/news_list4.jpg',
                                alt: '',
                            })
                        .news__list-date.mb-12 21 ОКТЯБРЯ 2021
                        .news__list-title
                            h2.h3 22-летие сети салонов caterina leman в России
                        .news__list-text.typography-main.mt-12
                            | Яркая осень с Caterina Leman продолжается! Мы с огромным удовольствием приглашаем вас в салон
                            | Caterina Leman в ТЦ Европейский  в честь нашего Дня Рождения!
                        .news__list-link.mt-24
                            a(href="#").link.link-primary Подробнее (если будет ссылка на стр. новости)
            include ../components/navigation