main.order.mt-60.mb-60 
	.container.order-page 
		.row
			.col-16.back-link
				a(href="#").back
					+svg('left')
					span Назад
			.col-16.col-sm-16.col-md-10.col-lg-12
				form
					.recipient-block
						h3 1. Получатель
						.form-row
							.form-control
								input(type="text" placeholder="Имя" value="Елизавета").form-control--input
								label.form-control--label Имя
						.form-row
							.form-control
								input(type="text" placeholder="Фамилия" value="Христорождественская").form-control--input
								label.form-control--label Фамилия
						.form-row
							.form-control.email
								input(type="email" placeholder="Email" value="ohmymail@mail.ru").form-control--input
								label.form-control--label Email
						
						.order-data-completed
							.order-data-completed-info
								p
									| Анастасия Христорождественская
								p
									| ohmymail@mail.ru
							button.btn.btn-primary.btn-edit
								| Изменить
					.form-group.get-way
						h3 2. Способ получения
						select(placeholder="Ваш город").select.select-city
									option Выберите город
									option Москва
									option Санкт-Петербург

						//- button.btn.btn-primary.btn-next
						//- 	| Далее

					.tabs-wrapper.delivery-way
								.select-tabs.tabs-primary
									.border-wrapper
										//- a.tab-label(href="#" data-target="vip") VIP-шопер
										a.tab-label(href="#" data-target="pickup").active Самовывоз
										a.tab-label(href="#" data-target="delivery") Доставка
								//- .tab-contents.list#vip
									.addresses
										.item
											.radio-group
												input(type="radio" id="test1" name="address")
												label(for="test1")
											label(for="test1").text
												| 234123, Москва, Профсоюзная, 38, Комментарии: под.6, домофон 165Вызов, эт.15, кв.165.
											a.edit
												+svg('edit')
												span Изменить
											a.delete
												+svg('delete_active')
												span Удалить
										.item
											.radio-group
												input(type="radio" id="test3" name="address")
												label(for="test3")
											label(for="test3").text
												| 234123, Москва, Профсоюзная, 38, Комментарии: под.6, домофон 165Вызов, эт.15, кв.165.
											a.edit
												+svg('edit')
												span Изменить
											a.delete
												+svg('delete_active')
												span Удалить
										.item.removed
											.text
												| Адрес удален
											a.undo
												| Отменить
										.item
											.radio-group
												input(type="radio" id="test2" name="address")
												label(for="test2")
											label(for="test2").text
												| 125009, г. Москва, ул. Большая Никитская ул., 15 ст 1
											a.edit
												+svg('edit')
												span Изменить
											a.delete
												+svg('delete_active')
												span Удалить
										button.btn.btn-secondary.new-address
											span 
												| + Новый адрес
								.tab-contents.map#pickup.active
									.delivery-info
										.addresses
											//- .delivery-period-info
												//- p
												//- 	| Дата доставки: дд.мм.гггг
												//- p
												//- 	| Срок хранения заказа: 3 дня
											.tabs-wrapper.map-list
												.select-tabs
													.border-wrapper
														a.tab-label(href="#" data-target="salon-list").active Список
														a.tab-label(href="#" data-target="salon-map") Карта

												.tab-contents.map#salon-map
													#mapSalon
												.tab-contents.list#salon-list.active
													.salon-list
														.item
															.info
																h3 Фирменный бутик Caterina Leman
																p Проспект мира, 35 к.8
																p Пн-пт: c 9-21, сб-вс: с 10-18
															.choose
																button.btn.btn-secondary Выбрать
														.item
															.info
																h3 Партнёрский пункт [Наименование пункта]
																p Проспект мира, 35 к.8
																p Пн-пт: c 9-21, сб-вс: с 10-18
															.choose
																button.btn.btn-secondary Выбрать
														.item
															.info
																h3 Партнёрский пункт [Наименование пункта]
																p Проспект мира, 35 к.8
																p Пн-пт: c 9-21, сб-вс: с 10-18
															.choose
																button.btn.btn-secondary Выбрать
														.item
															.info
																h3 Партнёрский пункт [Наименование пункта]
																p Новинский бул., 8, Москва, ТЦ “Лотте плаза”
																p Пн-пт: 10:00 - 18:00, сб-вс: 10:00 - 18:00
																
															.choose
																button.btn.btn-secondary Выбрать
														.item
															.info
																h3 Партнёрский пункт [Наименование пункта]
																p Новинский бул., 8, Москва, ТЦ “Лотте плаза”
																p Пн-пт: 10:00 - 18:00, сб-вс: 10:00 - 18:00
																
															.choose
																button.btn.btn-secondary Выбрать
														.item
															.info
																h3 Партнёрский пункт [Наименование пункта]
																p Новинский бул., 8, Москва, ТЦ “Лотте плаза”
																p Пн-пт: 10:00 - 18:00, сб-вс: 10:00 - 18:00
																
															.choose
																button.btn.btn-secondary Выбрать
														.item
															.info
																h3 Партнёрский пункт [Наименование пункта]
																p Новинский бул., 8, Москва, ТЦ “Лотте плаза”
																p Пн-пт: 10:00 - 18:00, сб-вс: 10:00 - 18:00
																
															.choose
																button.btn.btn-secondary Выбрать
														.item
															.info
																h3 Партнёрский пункт [Наименование пункта]
																p Новинский бул., 8, Москва, ТЦ “Лотте плаза”
																p Пн-пт: 10:00 - 18:00, сб-вс: 10:00 - 18:00
																
															.choose
																button.btn.btn-secondary Выбрать
												.salon-list-selected
													.item
														.info
															h3 Фирменный бутик Caterina Leman
															p Новинский бул., 8, Москва, ТЦ “Лотте Плаза”
															p Пн-пт: c 9-21, сб-вс: с 10-18
															p 
																| Поступление в салон: <span>“Дата”</span>
															p 
																| Срок хранения заказа: <span>3 дня</span>
														.choose
															button.btn.btn-bgless.btn-change Изменить
								.tab-contents.list#delivery
									.add-address
										.form-row
											.form-control.address-input
												input(type="text" placeholder="Адрес" value="").form-control--input
												label.form-control--label 
													| Адрес<sup>*</sup>
											.form-control--notify
												| Название улицы, номер дома, корпус, строение
										label.tumblr
											input(type="checkbox").tumblr-input
											.tumblr-box
											.tumblr-caption Частный дом
										br
										.inline-labels.is-errored
											.form-control
												input(type="text" placeholder="Кв./офис" value="" maxlength="4").form-control--input
												label.form-control--label Кв./офис
											.form-control
												input(type="text" placeholder="Подъезд" value="" maxlength="2").form-control--input
												label.form-control--label Подъезд
											.form-control
												input(type="text" placeholder="Этаж" value="" maxlength="2").form-control--input
												label.form-control--label Этаж
											.form-control
												input(type="text" placeholder="Домофон" value="" maxlength="10").form-control--input
												label.form-control--label Домофон
										label.form__group.form__group__up.courier-comments
											.form-control.text-area
												textarea(name="comments", rows="5", placeholder="Комментарии курьеру").form-control--input
												label.form-control--label Комментарии курьеру
										.address-block-wrap
											.addresses-block
												.item
													label.checkbox
														input(type="checkbox").checkbox-input#option_1
														.checkbox-box
															+svg('checkbox')
													label(for="option_1").text
														| 234123, Москва, Профсоюзная, 38, под.6, домофон 165Вызов, эт.15, кв.165.
													a.icon.edit
														+svg('edit')
													a.icon.delete
														+svg('delete')
												.item
													label.checkbox
														input(type="checkbox").checkbox-input#option_2
														.checkbox-box
															+svg('checkbox')
													label(for="option_2").text
														| 234123, Москва, Профсоюзная, 38, под.6, домофон 165Вызов, эт.15, кв.165.
													a.icon.edit
														+svg('edit')
													a.icon.delete
														+svg('delete')
												//- .item.removed
												//- 	.text
												//- 		| Адрес удален
												//- 	a.undo
												//- 		| Восстановить
												button(type="submit").new-address + Новый адрес

										.data_deliv
											.form-row
												.form-control
													input(type="text" placeholder="Дата доставки").form-control--input.js-delivery-date
													label.form-control--label Дата доставки
											select(placeholder="Время доставки").select
												option
												option 10:00 — 12:00
												option 12:00 — 14:00
												option 14:00 — 16:00
												option 16:00 — 18:00
												option 18:00 — 20:00
										button.btn.btn-primary.btn-next
												| Далее
										.salon-list-selected
													.item
														.info
															h3 Фирменный бутик Caterina Leman
															p Новинский бул., 8, Москва, ТЦ “Лотте Плаза”
															p Пн-пт: c 9-21, сб-вс: с 10-18
															p 
																| Поступление в салон: <span>“Дата”</span>
															p 
																| Срок хранения заказа: <span>3 дня</span>
														.choose
															button.btn.btn-bgless.btn-change Изменить

					.grey-line.order-personal-data-after
					.form-group.get-payment
						h3 3. Оплата
						.get-payment_wrap
							label.radio
								input(type="radio" name="radio-big").radio-input
								.radio-box
								.radio-text.radio-text--big При получении
							br
							label.radio
								input(type="radio" name="radio-big" checked).radio-input
								.radio-box
								.radio-text.radio-text--big Картой на сайте
					.promo-block
						.form-row
							.form-control
								input(type="text" placeholder="Введите промокод" value="").form-control--input
								label.form-control--label Введите промокод
							a(href="#").btn.btn-bgless Применить 
						.bonus-block-wrap
							h3 Списать бонусы
							.promo-block_bonus
								.promo-block_bonus_img
									img(src="images/pages/order/bonusCard.png" alt="")
								.promo-block_bonus_desc
									.all_bonus
										| Бонусов на счете: <span>45 876 руб.</span>
									.withdraw
										p Списать
										.inputs-wrap
											input.form__group-input.form__group__up-input(type="text")
											button.btn.btn-bgless.btn-change
												span OK
					.agreement_block
						label.tumblr
							input(type="checkbox").tumblr-input
							.tumblr-box
							.tumblr-caption Частичный выкуп
						br
						label.tumblr
							input(type="checkbox").tumblr-input
							.tumblr-box
							.tumblr-caption Примерка
						br
					//- 	.checkbox-wrap.d-none.d-md-block
					//- 		label.checkbox
					//- 			input(type="checkbox").checkbox-input
					//- 			.checkbox-box
					//- 				+svg('checkbox')
					//- 			.checkbox-text.checkbox-text--small
					//- 				| Согласен с условиями <a href="#">оферты</a> и на  <a href="#">обработку моих персональных данных</a>
					//- 		br
					//- 		label.checkbox
					//- 			input(type="checkbox").checkbox-input
					//- 			.checkbox-box
					//- 				+svg('checkbox')
					//- 			.checkbox-text.checkbox-text--small
					//- 				| Согласен на получение <a href="#">новостных рассылок</a>
					//- 		br
					//- 		label.checkbox
					//- 			input(type="checkbox").checkbox-input
					//- 			.checkbox-box
					//- 				+svg('checkbox')
					//- 			.checkbox-text.checkbox-text--small
					//- 				| Согласен стать участикном <a href="#">программы лояльности</a>
					//- a(href="#").btn.btn-primary.submit-order.d-none.d-md-block Оформить заказ
					
			.col-16.col-md-6.col-lg-4.rel
				.order-aside
					.order-info.headline
						| Информация о заказе
					.order-info 
						span
							| Товаров на сумму
						span
							| 172 580 руб.
					.order-info
						span
							| Скидка
						span
							| -580 руб.
					.order-info
						span
							| Доставка
						span
							| 580 руб. / не выбрано
					//- .order-info
					//- 	span
					//- 		| Бонусы
					//- 	span
					//- 		| -3 470 руб.
					.order-total
						span
							| Итого
						span
							| 164 678 руб.
			.col-16.bottom-inputset
				.checkbox-wrap
					label.checkbox
						input(type="checkbox").checkbox-input
						.checkbox-box
							+svg('checkbox')
						.checkbox-text.checkbox-text--small
							| Согласен с условиями <a href="#">оферты</a> и на  <a href="#">обработку моих персональных данных</a>
					br
					label.checkbox
						input(type="checkbox").checkbox-input
						.checkbox-box
							+svg('checkbox')
						.checkbox-text.checkbox-text--small
							| Согласен на получение <a href="#">новостных рассылок</a>
					br
					label.checkbox
						input(type="checkbox").checkbox-input
						.checkbox-box
							+svg('checkbox')
						.checkbox-text.checkbox-text--small
							| Согласен стать участикном <a href="#">программы лояльности</a>
				button.btn.btn-primary.btn-sub-asid(type="submit")
						| Оформить заказ		




script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=99f91afb-8db0-4a66-b863-0c9c380b92d5')
script.
	var myMap;

	// Дождёмся загрузки API и готовности DOM.
	ymaps.ready(init);

	function init() {
		// Создание экземпляра карты и его привязка к контейнеру с
		// заданным id ("map").
		myMap = new ymaps.Map('mapSalon', {
			// При инициализации карты обязательно нужно указать
			// её центр и коэффициент масштабирования.
			center: [55.76, 37.64], // Москва
			zoom: 9
		}, {
			searchControlProvider: 'yandex#search'
		});

		var markers = [
			[55.684758, 37.738521],
			[55.985, 37.935],
		]

		markers.forEach((marker, index) => {
			myPlacemark = new ymaps.Placemark(marker, {
				hintContent: 'Фирменный бутик HANRO',
				balloonContent: '<div class="mapTooltip"><h3>Фирменный бутик HANRO</h3><p>Новинский бул., 8, Москва, ТЦ “Лотте плаза”</p><p>Пн-пт: 10:00 - 18:00, сб-вс: 10:00 - 18:00</p></div>'
			}, {
				// Опции.
				// Необходимо указать данный тип макета.
				iconLayout: 'default#image',
				// Своё изображение иконки метки.
				iconImageHref: '/images/map-marker.svg',
				// Размеры метки.
				iconImageSize: [26, 26],
				// Смещение левого верхнего угла иконки относительно
				// её "ножки" (точки привязки).
				// iconImageOffset: [-50, 60]
			})

			myMap.geoObjects
				.add(myPlacemark)
		})



	}
	window.addEventListener('load', function(){

		 var date = new Date();
			// add a day
		//- date.setDate(date.getDate() + parseInt($('.js-delivery-date input').attr('data-plus-days')));
		date.setDate(date.getDate());

		$( ".js-delivery-date" ).datepicker({
			// minDate: date
			dateFormat: 'dd.mm.yy',
			firstDay: 1,
			closeText: "Закрыть",
			prevText: "Пред",
			nextText: "След",
			currentText: "Сегодня",
			monthNames: [ "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь",
				"Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" ],
			monthNamesShort: [ "Янв", "Фев", "Мар", "Апр", "Май", "Июн",
				"Июл", "Авг", "Сен", "Окт", "Ноя", "Дек" ],
			dayNames: [ "воскресенье", "понедельник", "вторник", "среда", "четверг", "пятница", "суббота" ],
			dayNamesShort: [ "вск", "пнд", "втр", "срд", "чтв", "птн", "сбт" ],
			dayNamesMin: [ "Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб" ],
			weekHeader: "Нед",
			dateFormat: "dd.mm.yy",
			firstDay: 1,
			minDate: date
		});
	})
