main.order.mt-60
	.container.order-page 
		.row
			.col-16.back-link
				a(href="#").back
					+svg('left')
					span Назад
			.col-16.col-md-12.col-lg-12
				form
					.recipient-block
						h3 1. Получатель
						.form-row
							.form-control
								input(type="text" placeholder="Имя" value="Елизавета").form-control--input
								label.form-control--label Имя
						.form-row
							.form-control
								input(type="text" placeholder="Фамилия" value="Христорождественская").form-control--input
								label.form-control--label Фамилия
						.form-row
							.form-control.email
								input(type="email" placeholder="Email" value="ohmymail@mail.ru").form-control--input
								label.form-control--label Email
						
						//- .order-data-completed
						//- 	.order-data-completed-info
						//- 		p
						//- 			| Анастасия Христорождественская
						//- 		p
						//- 			| ohmymail@mail.ru
						//- 	button.btn.btn-primary.btn-edit
						//- 		| Изменить
					.form-group.get-way
						h3 2. Способ получения
							select(placeholder="Ваш город").select
										option Выберите город
										option Москва
										option Санкт-Петербург

						//- button.btn.btn-primary.btn-next
						//- 	| Далее

					.tabs-wrapper.delivery-way
								.select-tabs.tabs-primary
									.border-wrapper
										a.tab-label(href="#" data-target="vip") VIP-шопер
										a.tab-label(href="#" data-target="pickup").active Самовывоз
										a.tab-label(href="#" data-target="delivery") Доставка
								//- .tab-contents.list#vip
									.addresses
										.item
											.radio-group
												input(type="radio" id="test1" name="address")
												label(for="test1")
											label(for="test1").text
												| 234123, Москва, Профсоюзная, 38, Комментарии: под.6, домофон 165Вызов, эт.15, кв.165.
											a.edit
												+svg('edit')
												span Изменить
											a.delete
												+svg('delete_active')
												span Удалить
										.item
											.radio-group
												input(type="radio" id="test3" name="address")
												label(for="test3")
											label(for="test3").text
												| 234123, Москва, Профсоюзная, 38, Комментарии: под.6, домофон 165Вызов, эт.15, кв.165.
											a.edit
												+svg('edit')
												span Изменить
											a.delete
												+svg('delete_active')
												span Удалить
										.item.removed
											.text
												| Адрес удален
											a.undo
												| Отменить
										.item
											.radio-group
												input(type="radio" id="test2" name="address")
												label(for="test2")
											label(for="test2").text
												| 125009, г. Москва, ул. Большая Никитская ул., 15 ст 1
											a.edit
												+svg('edit')
												span Изменить
											a.delete
												+svg('delete_active')
												span Удалить
										button.btn.btn-secondary.new-address
											span 
												| + Новый адрес
								.tab-contents.map#pickup.active
									.delivery-info
										.addresses
											.delivery-period-info
												p
													| Дата доставки: дд.мм.гггг
												p
													| Срок хранения заказа: 3 дня
											.tabs-wrapper.map-list
												.select-tabs
													.border-wrapper
														a.tab-label(href="#" data-target="salon-list").active Список
														a.tab-label(href="#" data-target="salon-map") Карта

												.tab-contents.map#salon-map.active
													#mapSalon
												.tab-contents.list#salon-list
													.salon-list
														.item
															.info
																h3 Фирменный бутик HANRO
																p Новинский бул., 8, Москва, ТЦ “Лотте плаза”
																p Пн-пт: 10:00 - 18:00, сб-вс: 10:00 - 18:00
															.choose
																button.btn.btn-primary Выбрать
														.item
															.info
																h3 Фирменный бутик HANRO
																p Новинский бул., 8, Москва, ТЦ “Лотте плаза”
																p Пн-пт: 10:00 - 18:00, сб-вс: 10:00 - 18:00
															.choose
																button.btn.btn-primary Выбрать
														.item
															.info
																h3 Фирменный бутик HANRO
																p Новинский бул., 8, Москва, ТЦ “Лотте плаза”
																p Пн-пт: 10:00 - 18:00, сб-вс: 10:00 - 18:00
															.choose
																button.btn.btn-primary Выбрать
														.item
															.info
																h3 Фирменный бутик HANRO
																p Новинский бул., 8, Москва, ТЦ “Лотте плаза”
																p Пн-пт: 10:00 - 18:00, сб-вс: 10:00 - 18:00
																
															.choose
																button.btn.btn-primary Выбрать
												.salon-list-selected
													.item
														.info
															h3 Фирменный бутик HANRO
															p Новинский бул., 8, Москва, ТЦ “Лотте плаза”
															p Пн-пт: 10:00 - 18:00, сб-вс: 10:00 - 18:00
															p Дата доставки: дд.мм.гггг
															p Срок хранения заказа: 3 дня
														.choose
															button.btn.btn-secondary.btn-change
																span Изменить
								//- .tab-contents.list#delivery
									.add-address
										label.form__group.form__group__up
											.form__group-label.form__group__up-label
												| Адрес<sup>*</sup>
											input.form__group-input.form__group__up-input(type="text")
											.form-group-info
												| Название улицы, номер дома, корпус, строение
											.form__group-error
												| Описание ошибки
										.magic-checkbox-wrap
											input(type='checkbox').ios8-switch#privateHouse
											label(for='privateHouse').magic-checkbox-label Частный дом
										.inline-labels.is-errored
											label.form__group-label.form__group__up-label
												| Кв./офис*
												input.form__group-input.form__group__up-input.short(required type="text" value="" maxlength="4")
												//.form__group-error
												//	| Введен неверный код
											label.form__group-label.form__group__up-label
												| Подъезд
												input.form__group-input.form__group__up-input.short(type="text" value="" maxlength="2")
												//.form__group-error
												//	| Введен неверный код
											label.form__group-label.form__group__up-label
												| Этаж
												input.form__group-input.form__group__up-input.short(type="text" value="" maxlength="2")
												//.form__group-error
												//	| Введен неверный код
											label.form__group-label.form__group__up-label
												| Домофон
												input.form__group-input.form__group__up-input.short(type="text" value="" maxlength="10")
										label.form__group.form__group__up.courier-comments
											.form__group-label.form__group__up-label
												| Коментарии курьеру
											input.form__group-input.form__group__up-input(type="text")
											.form__group-error
												| Описание ошибки
										.data_deliv
											label.form__group.form__group__up.courier-comments
												.form__group-label.form__group__up-label
													| Дата доставки
												input.form__group-input.form__group__up-input(type="date")
											label.form__group.form__group__up.courier-comments
												.form__group-label.form__group__up-label
													| Время доставки
												input.form__group-input.form__group__up-input(type="time")
					button.btn.btn-primary.btn-next
							| Далее
					.salon-list-selected
						.item
							.info
								h3 Доставка / самовывоз
								p Адрес: ХХХ
								p Дата доставки: ХХХ
								p Время доставки: ХХХ
								p Срок хранения заказа: 3 дня
								p Доп. строка
								p Доп. строка
							.choose
								button.btn.btn-secondary.btn-change
									span Изменить

					.grey-line.order-personal-data-after
					.form-group.get-payment
						h3 3. Оплата
						.get-payment_wrap
							.item
								.radio-but
									input(type="radio" id="test5" name="payment")
									label(for="test5")
								label(for="test5").text
									| При получении
							.item
								.radio-but
									input(type="radio" id="test6" name="payment")
									label(for="test6")
								label(for="test6").text
									| Картой на сайте
					.grey-line.order-personal-data-after
					.promo-block
						.promo-block_inp
							label.form__group.form__group__up.courier-comments
								.form__group-label.form__group__up-label
									| Коментарии курьеру
								.fl_box
									div
										input.form__group-input.form__group__up-input(type="text")
										.form__group-error
											| Описание ошибки
									button.btn.btn-secondary.btn-change
										span ok
						.promo-block_bonus
							.promo-block_bonus_img
								img(src="images/Image-base.jpg" alt="")
							.promo-block_bonus_desc
								.all_bonus
									| Бонусы: 45 876 руб.
								.withdraw
									input.form__group-input.form__group__up-input(type="text")
									button.btn.btn-secondary.btn-change
										span списать

					.grey-line.order-personal-data-after
					.agreement_block
						form.form.for-loyal
							
						form.form.for-pers
							label.checkbox
								input(type="checkbox" required).checkbox-input
								.checkbox-box
									+svg('check')
								.checkbox-text
										| Согласен на обработку 
										a(href="#") персональных данных  
										| и на обработку моих 
										a(href="#") персональных данных
						form.form.for-loyal
							label.checkbox
									input(type="checkbox" required).checkbox-input
									.checkbox-box
										+svg('check')
									.checkbox-text
											| Согласен стать участником 
											a(href="#") программы лояльности
						form.form.for-mailing
							label.checkbox
									input(type="checkbox" required).checkbox-input
									.checkbox-box
										+svg('check')
									.checkbox-text
											| Согласен на получение 
											a(href="#") рассылок
					button.btn.btn-primary.btn-sub-bod(type="submit")
							| Оформить заказ
					
					
			.col-12.col-md-12.col-lg-4.rel
				.order-aside
					.order-info.headline
						| Информация о заказе
					.order-info 
						span
							| Товаров на сумму
						span
							| 172 580 руб.
					.order-info
						span
							| Скидка
						span
							| -580 руб.
					.order-info
						span
							| Доставка
						span
							| 580 руб. / не выбрано
					.order-info
						span
							| Бонусы
						span
							| -3 470 руб.
					.order-total
						span
							| Итого
						span
							| 164 678 руб.
					button.btn.btn-primary.btn-sub-asid(type="submit")
							| Оформить заказ
				.clear

script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=99f91afb-8db0-4a66-b863-0c9c380b92d5')
script.
	var myMap;

	// Дождёмся загрузки API и готовности DOM.
	ymaps.ready(init);

	function init() {
		// Создание экземпляра карты и его привязка к контейнеру с
		// заданным id ("map").
		myMap = new ymaps.Map('mapSalon', {
			// При инициализации карты обязательно нужно указать
			// её центр и коэффициент масштабирования.
			center: [55.76, 37.64], // Москва
			zoom: 9
		}, {
			searchControlProvider: 'yandex#search'
		});

		var markers = [
			[55.684758, 37.738521],
			[55.985, 37.935],
		]

		markers.forEach((marker, index) => {
			myPlacemark = new ymaps.Placemark(marker, {
				hintContent: 'Фирменный бутик HANRO',
				balloonContent: '<div class="mapTooltip"><h3>Фирменный бутик HANRO</h3><p>Новинский бул., 8, Москва, ТЦ “Лотте плаза”</p><p>Пн-пт: 10:00 - 18:00, сб-вс: 10:00 - 18:00</p></div>'
			}, {
				// Опции.
				// Необходимо указать данный тип макета.
				iconLayout: 'default#image',
				// Своё изображение иконки метки.
				iconImageHref: '/images/map-marker.svg',
				// Размеры метки.
				iconImageSize: [26, 26],
				// Смещение левого верхнего угла иконки относительно
				// её "ножки" (точки привязки).
				// iconImageOffset: [-50, 60]
			})

			myMap.geoObjects
				.add(myPlacemark)
		})



	}
