main.personal.mt-60.mb-120
	.container.favourites
		.row
			.d-none.d-sm-block.col-sm-7.col-md-5.col-lg-5.col-xl-4
				include ../components/personalAside
			.col-16.col-sm-9.col-md-11.col-lg-11.col-xl-12
				.favourites-headline
					h2 Избранное
					.share-fav-link
						a(href="#").js-open-modal(type="button", aria-controls="sheet" data-target="modal-share-favorite")
							+svg('share')
							| Поделиться избранным
				.favourites-list.mt-60.col-16
					.row
						.item.col-16.col-md-8.col-xl-7
							a(href="/product.html").image-link
									img(src="/images/pages/lk-favourites/Photo.png", alt="")
							button.fav
								+svg('favorite').favorite-icon.is-active
							.flexible
								.item-left
									a(href="#") 
										| Хлопоковый стренч с запахом
									p Новые поступления
								.item-right
									p.price 34 658 руб.
									p.old-price 34 658 руб.
							.item-bottom
								p.color 
									| <span>Цвет:</span> Оливковый
								select(placeholder="Выберите размер").select
									option
									option Описание инпута 1
									option Описание инпута 2
									option Описание инпута 3
									option Описание инпута 4
									option Описание инпута 5
								a(href="#").btn.btn-primary В корзину 
						.item.col-16.col-md-8.col-xl-7
								a(href="/product.html").image-link
									img(src="/images/pages/lk-favourites/Photo-1.png", alt="")
									button.fav
											+svg('favorite').favorite-icon
								.flexible
									.item-left
										a(href="#") 
											| Хлопоковый стренч с запахом
										p Новые поступления
									.item-right
										p.price 34 658 руб.
										p.old-price 34 658 руб.
								.item-bottom
									p.color 
										| <span>Цвет:</span> Оливковый
									select(placeholder="Выберите размер").select
										option
										option Описание инпута 1
										option Описание инпута 2
										option Описание инпута 3
										option Описание инпута 4
										option Описание инпута 5
									a(href="#").btn.btn-primary В корзину 
						.item.col-16.col-md-8.col-xl-7
								a(href="/product.html").image-link
									img(src="/images/pages/lk-favourites/Photo-2.png", alt="")
									button.fav
											+svg('favorite').favorite-icon
								.flexible
									.item-left
										a(href="#") 
											| Хлопоковый стренч с запахом
										p Новые поступления
									.item-right
										p.price 34 658 руб.
										p.old-price 34 658 руб.
								.item-bottom
									p.color 
										| <span>Цвет:</span> Оливковый
									select(placeholder="Выберите размер").select
										option
										option Описание инпута 1
										option Описание инпута 2
										option Описание инпута 3
										option Описание инпута 4
										option Описание инпута 5
									a(href="#").btn.btn-primary В корзину 
						.item.col-16.col-md-8.col-xl-7
								a(href="/product.html").image-link
									img(src="/images/pages/lk-favourites/Photo-3.png", alt="")
									button.fav
											+svg('favorite').favorite-icon
								.flexible
									.item-left
										a(href="#") 
											| Хлопоковый стренч с запахом
										p Новые поступления
									.item-right
										p.price 34 658 руб.
										p.old-price 34 658 руб.
								.item-bottom
									p.color 
										| <span>Цвет:</span> Оливковый
									select(placeholder="Выберите размер").select
										option
										option Описание инпута 1
										option Описание инпута 2
										option Описание инпута 3
										option Описание инпута 4
										option Описание инпута 5
									a(href="#").btn.btn-primary В корзину 
									
								