main.personal.mt-60.mb-120
	.container.loyalty
		.row
			.d-none.d-md-block.col-md-5.col-lg-5.col-xl-4
				include ../components/personalAside
			.col-16.col-sm-16.col-md-11.col-lg-11.col-xl-12
				h2 Программа лояльности
				.loyalty-list
					.empty
						p 
							| Добро пожаловать в мир привелегий бренда Caterina Leman.
						p
							| Совершайте покупки, получайте скидки и бонусные баллы, которыми можно оплатить до 50% от заказа.
					.item.mt-60
						img(src="/images/pages/order/card.png")
						.info
							h3 Gold
							.card-info
								p Скидка: <span>3%</span>
								p Бонус: <span>5%</span>
								p.total Сумма бонусов: <span>34 566 руб.</span>
							.grey-line
							p.the-next-level-play
								| Для перехода на следующий уровень программы лояльности вам необходимо набрать [ХХХ] бонусов
				.loyalty-about
					| Подробнее о
					|
					a(href="#")
						| программе лояльности