main.product.pt-60.mb-120
    .mb-60
        include ../components/breadcrumbs
    .container.mb-120
        .row
            .col-18.d-md-none
                .product-tag.tag.mb-12 Sale
                .product-title.mb-12
                    .h3 Рубашка из шелковой ткани эпонж Bamboo Print с блестящей петелькой
                .product__price.mb-48
                    .product__price-current 36 768 руб.
                    .product__price-old 56 947 руб.
            .col-lg-10.col-md-8
                .product__gallery
                    .product__gallery-thumb--wrapper
                        button.arrow.arrow-up.product__gallery-thumb--arrow.product__gallery-thumb--arrow--up
                            +svg('arrow-up')
                        .product__gallery-thumb
                            .product__gallery-thumb--item--wrapper
                                img.product__gallery-thumb--item(src='/images/pages/product/photo-thumb-1.jpg')
                            .product__gallery-thumb--item--wrapper
                                img.product__gallery-thumb--item(src='/images/pages/product/photo-thumb-2.jpg')
                            .product__gallery-thumb--item--wrapper
                                img.product__gallery-thumb--item(src='/images/pages/product/photo-thumb-3.jpg')
                            .product__gallery-thumb--item--wrapper
                                img.product__gallery-thumb--item(src='/images/pages/product/photo-thumb-4.jpg')
                            .product__gallery-thumb--item--wrapper
                                img.product__gallery-thumb--item(src='/images/pages/product/photo-thumb-5.jpg')

                        button.arrow.arrow-down.product__gallery-thumb--arrow.product__gallery-thumb--arrow--down
                            +svg('arrow-down')

                    .product__gallery-preview--wrapper
                        button.arrow.arrow-left.product__gallery-preview--arrow.product__gallery-preview--arrow--left
                            +svg('arrow-left')
                        .product__gallery-preview
                            .product__gallery-preview--item--wrapper
                                img.product__gallery-preview--item(src='/images/pages/product/photo-preview-1.jpg')
                            .product__gallery-preview--item--wrapper
                                img.product__gallery-preview--item(src='/images/pages/product/photo-preview-2.jpg')
                            .product__gallery-preview--item--wrapper
                                img.product__gallery-preview--item(src='/images/pages/product/photo-preview-3.jpg')
                            .product__gallery-preview--item--wrapper
                                img.product__gallery-preview--item(src='/images/pages/product/photo-preview-4.jpg')
                            .product__gallery-preview--item--wrapper
                                img.product__gallery-preview--item(src='/images/pages/product/photo-preview-5.jpg')

                        button.arrow.arrow-right.product__gallery-preview--arrow.product__gallery-preview--arrow--right
                            +svg('arrow-right')
                        button.product__gallery-preview--zoom
                            +svg('zoom')

            .col-lg-6.col-md-8
                .product-article_number.link-or-text.mb-24 <span>Артикул: </span> 221ML983MF106
                .d-none.d-md-block
                    .product-tag.tag.mb-12 Sale
                    .product-title.mb-12
                        h1.h3 Рубашка из шелковой ткани эпонж Bamboo Print с блестящей петелькой
                    .product__price.mb-48
                        .product__price-current 36 768 руб.
                        .product__price-old 56 947 руб.
                .product__color.mb-24
                    .product__color-label.link-or-text.mb-12 <span>Цвет: </span> Светло-лиловый
                    .product__color-list
                        a.product__color-list--item
                            .product__color-list--item--value(style="background-color: #604F23;")
                        a.product__color-list--item
                            .product__color-list--item--value(style="background-color: #DFA94A;")
                        a.product__color-list--item
                            .product__color-list--item--value(style="background-color: #232D40;")
                        a.product__color-list--item
                            .product__color-list--item--value(style="background-color: #EBEBEB;")
                            .product__color-list--item--value(style="background-color: #998057;")
                        a.product__color-list--item.product__color-list--item--active
                            .product__color-list--item--value(style="background-color: #E2AC48;")
                            .product__color-list--item--value(style="background-color: #594A1F;")
                        a.product__color-list--item
                            .product__color-list--item--value(style="background-color: #DBB29B;")
                            .product__color-list--item--value(style="background-color: #55547C;")
                .product__size.mb-24
                    a(href="#").product__size-label.link-or-text.link-or-text--underline.mb-12 Гид по размерам
                    .product__size-select
                        select(placeholder="Выберите размер").select
                            option
                            option(disabled) XS - disabled
                            option XS
                            option XL
                            option XXL
                            option(disabled) XXL - disabled
                            option XXXL
                .product__actions.mb-48
                    .product__actions-cart
                        button.btn.btn-primary В корзину
                    .product__actions-like
                        button.btn.btn-secondary
                            +svg('favorite').favorite-icon
                .product__accordion.mb-24
                    .accordion
                        .accordion-item
                            .accordion-heading
                                .accordion-heading--icon
                                    +svg('arrow-right')
                                .accordion-heading--text.h3 Описание
                            .accordion-content
                                | Платье рубашечного кроя из жаккарда на основе вискозы с принтом в виде осеннего
                                | цветочного мотива, навеянного персонажем из фильма Франсуа Трюфо. Передняя часть
                                | платья с пуговицами украшена элегантными складками вдоль кокетки, а пояс из той же
                                | ткани аккуратно утягивает талию, формируя женственный силуэт.
                        .accordion-item
                            .accordion-heading
                                .accordion-heading--icon
                                    +svg('arrow-right')
                                .accordion-heading--text.h3 Сocтав и детали
                            .accordion-content
                                ul.list
                                    li Кашемир-10%, Шерсть-90%
                                    li Строки подтягиваются из 1С (перед этапом программирования необходимо знать что именно), пример булетов ниже
                                    li Мягкая шерсть 90%
                                    li Эксклюзивный дизайн
                        .accordion-item
                            .accordion-heading
                                .accordion-heading--icon
                                    +svg('arrow-right')
                                .accordion-heading--text.h3 Уход
                            .accordion-content
                                | Платье рубашечного кроя из жаккарда на основе вискозы с принтом в виде осеннего
                                | цветочного мотива, навеянного персонажем из фильма Франсуа Трюфо. Передняя часть
                                | платья с пуговицами украшена элегантными складками вдоль кокетки, а пояс из той же
                                | ткани аккуратно утягивает талию, формируя женственный силуэт.
                        .accordion-item
                            .accordion-heading
                                .accordion-heading--icon
                                    +svg('arrow-right')
                                .accordion-heading--text.h3 Поделиться
                            .accordion-content
                                | Платье рубашечного кроя из жаккарда на основе вискозы с принтом в виде осеннего
                                | цветочного мотива, навеянного персонажем из фильма Франсуа Трюфо. Передняя часть
                                | платья с пуговицами украшена элегантными складками вдоль кокетки, а пояс из той же
                                | ткани аккуратно утягивает талию, формируя женственный силуэт.

                .product__look
                    a(href="#").btn.btn-secondary Подобрать образ

    +block_products_slider().mb-120
    +block_consulting({
        image: '/images/pages/main/consultingImg.jpg',
        image_mob: '/images/pages/main/consultingImg_mob.jpg',
        heading: "Запишитесь на персональную консультацию стилиста",
        text: 'На персональной консультации со стилистом Caterina Leman вы сможете собрать образ для важного события или подобрать комплекты одежды, которые будут подчеркивать ваш индивидуальный стиль.',
        btnText: 'Записаться <span class="d-none d-md-inline">на консультацию</span>',
        btnHref: '#'
    })

.product__gallery__window--wrapper
    .product__gallery__window
        .product__gallery__window-thumb--wrapper
            button.arrow.arrow-up.product__gallery__window-thumb--arrow.product__gallery__window-thumb--arrow--up
                +svg('arrow-up')
            .product__gallery__window-thumb
                .product__gallery__window-thumb--item--wrapper
                    img.product__gallery__window-thumb--item(src='/images/pages/product/photo-thumb-1.jpg')
                .product__gallery__window-thumb--item--wrapper
                    img.product__gallery__window-thumb--item(src='/images/pages/product/photo-thumb-2.jpg')
                .product__gallery__window-thumb--item--wrapper
                    img.product__gallery__window-thumb--item(src='/images/pages/product/photo-thumb-3.jpg')
                .product__gallery__window-thumb--item--wrapper
                    img.product__gallery__window-thumb--item(src='/images/pages/product/photo-thumb-4.jpg')
                .product__gallery__window-thumb--item--wrapper
                    img.product__gallery__window-thumb--item(src='/images/pages/product/photo-thumb-5.jpg')


            button.arrow.arrow-down.product__gallery__window-thumb--arrow.product__gallery__window-thumb--arrow--down
                +svg('arrow-down')

        .product__gallery__window-big--wrapper
            button.arrow.arrow-left.product__gallery__window-big--arrow.product__gallery__window-big--arrow--left
                +svg('arrow-left')
            .product__gallery__window-big
                .product__gallery__window-big--item--wrapper
                    img.product__gallery__window-big--item(src='/images/pages/product/photo-1.jpg')
                .product__gallery__window-big--item--wrapper
                    img.product__gallery__window-big--item(src='/images/pages/product/photo-2.jpg')
                .product__gallery__window-big--item--wrapper
                    img.product__gallery__window-big--item(src='/images/pages/product/photo-3.jpg')
                .product__gallery__window-big--item--wrapper
                    img.product__gallery__window-big--item(src='/images/pages/product/photo-4.jpg')
                .product__gallery__window-big--item--wrapper
                    img.product__gallery__window-big--item(src='/images/pages/product/photo-5.jpg')

            button.arrow.arrow-right.product__gallery__window-big--arrow.product__gallery__window-big--arrow--right
                +svg('arrow-right')
            button.product__gallery__window-big--close
                +svg('close')
            button.product__gallery__window-big--zoom.product__gallery__window-big--zoom--in
                +svg('plus')
            button.product__gallery__window-big--zoom.product__gallery__window-big--zoom--out
                +svg('minus')

