main.test.pt-60.mb-120
    .container
        .row
            .col-md-4
                h2 Инпуты
                br
                form.form
                    .form-row
                        .form-control
                            input(type="text" placeholder="Дескриптор").form-control--input
                            label.form-control--label Дескриптор
                    .form-row
                        .form-control.form-control--icon-left
                            .form-control--icon
                                +svg('calenader')
                            input(type="text" placeholder="Дескриптор").form-control--input
                            label.form-control--label Дескриптор
                    .form-row
                        .form-control.form-control--icon-right
                            .form-control--icon
                                +svg('calenader')
                            input(type="text" placeholder="Дескриптор").form-control--input
                            label.form-control--label Дескриптор

                    .form-row
                        .form-control.form-control--icon-right.is-error
                            .form-control--icon
                                +svg('calenader')
                            input(type="text" placeholder="Дескриптор").form-control--input
                            label.form-control--label Дескриптор
                        .form-control--notify.is-error
                            | Текст ошибки или уведомления

                    .form-row
                        .form-control.is-disabled
                            input(type="text" placeholder="Дескриптор").form-control--input
                            label.form-control--label Дескриптор
                    .form-row
                        .form-control.form-control--icon-left.is-disabled
                            .form-control--icon
                                +svg('calenader')
                            input(type="text" placeholder="Дескриптор").form-control--input
                            label.form-control--label Дескриптор
                    .form-row
                        .form-control.form-control--icon-right.is-disabled
                            .form-control--icon
                                +svg('calenader')
                            input(type="text" placeholder="Дескриптор").form-control--input
                            label.form-control--label Дескриптор
                    .form-row
                        .form-control
                            input(type="text" placeholder="Дескриптор").form-control--input
                            label.form-control--label Дескриптор
                        .form-control--notify
                            | Текст ошибки или уведомления
                    .form-row
                        .form-control.is-error
                            input(type="text" placeholder="Дескриптор").form-control--input
                            label.form-control--label Дескриптор
                        .form-control--notify.is-error
                            | Текст ошибки или уведомления
                    .form-row
                        .form-control.form-control--icon-right.is-error
                            .form-control--icon
                                +svg('calenader')
                            input(type="text" placeholder="Дескриптор").form-control--input
                            label.form-control--label Дескриптор
                        .form-control--notify.is-error
                            | Текст ошибки или уведомления
                br
                br
                .city-box
                    .city-box-head
                        .city-box-head--label.menu-item Ваш город
                        .city-box-head__current
                            .city-box-head__current-text.menu-item Москва
                            .city-box-head__current-icon
                                +svg('arrow-down')
                    .city-box__list
                        label.radio.city-box__list-item
                            input(type="radio" name="city-box").radio-input
                            .radio-box
                            .radio-text.radio-text--big Архангельск
                        label.radio.city-box__list-item
                            input(type="radio" name="city-box").radio-input
                            .radio-box
                            .radio-text.radio-text--big Санкт-Петербург
                        label.radio.city-box__list-item
                            input(type="radio" name="city-box" checked).radio-input
                            .radio-box
                            .radio-text.radio-text--big Москва
                        label.radio.city-box__list-item
                            input(type="radio" name="city-box").radio-input
                            .radio-box
                            .radio-text.radio-text--big Владивосток
                        label.radio.city-box__list-item
                            input(type="radio" name="city-box").radio-input
                            .radio-box
                            .radio-text.radio-text--big Владикавказ
                        label.radio.city-box__list-item
                            input(type="radio" name="city-box").radio-input
                            .radio-box
                            .radio-text.radio-text--big Архангельск
                        label.radio.city-box__list-item
                            input(type="radio" name="city-box").radio-input
                            .radio-box
                            .radio-text.radio-text--big Санкт-Петербург
                        label.radio.city-box__list-item
                            input(type="radio" name="city-box").radio-input
                            .radio-box
                            .radio-text.radio-text--big Москва
                        label.radio.city-box__list-item
                            input(type="radio" name="city-box").radio-input
                            .radio-box
                            .radio-text.radio-text--big Владивосток
                        label.radio.city-box__list-item
                            input(type="radio" name="city-box").radio-input
                            .radio-box
                            .radio-text.radio-text--big Владикавказ
            .col-md-4
                h2 Кнопки
                br
                button.btn.btn-primary НАЗВАНИЕ КНОПКИ
                br
                br
                button.btn.btn-primary.is-disabled НАЗВАНИЕ КНОПКИ
                br
                br
                br
                button.btn.btn-secondary НАЗВАНИЕ КНОПКИ
                br
                br
                button.btn.btn-secondary.is-disabled НАЗВАНИЕ КНОПКИ
                br
                br
                br
                div(style="background: #000; padding: 20px 30px; display: inline-block")
                    button.btn.btn-darken НАЗВАНИЕ КНОПКИ
                    br
                    br
                    button.btn.btn-darken.is-disabled НАЗВАНИЕ КНОПКИ
                br
                br
                br
            .col-md-6
                h2 Чекбоксы
                br
                label.checkbox
                    input(type="checkbox").checkbox-input
                    .checkbox-box
                        +svg('checkbox')
                    .checkbox-text.checkbox-text--big Текст
                br
                label.checkbox
                    input(type="checkbox" checked).checkbox-input
                    .checkbox-box
                        +svg('checkbox')
                    .checkbox-text.checkbox-text--big Текст
                br
                br
                br
                label.checkbox
                    input(type="checkbox").checkbox-input
                    .checkbox-box
                        +svg('checkbox')
                    .checkbox-text.checkbox-text--small Текст
                br
                label.checkbox
                    input(type="checkbox" checked).checkbox-input
                    .checkbox-box
                        +svg('checkbox')
                    .checkbox-text.checkbox-text--small Текст
                br
                br
                br
                h2 Чекбоксы с унифицированным текстом
                br
                label.checkbox
                    input(type="checkbox").checkbox-input
                    .checkbox-box
                        +svg('checkbox')
                    .checkbox-text.checkbox-text--small
                        | Согласен на <a href="#">получение рассылок</a> и <a href="#">с политикой обработки персональных данных</a>
                br
                label.checkbox
                    input(type="checkbox").checkbox-input
                    .checkbox-box
                        +svg('checkbox')
                    .checkbox-text.checkbox-text--small
                        | Согласен на <a href="#">обработку персональных данных</a>
                br
                label.checkbox
                    input(type="checkbox").checkbox-input
                    .checkbox-box
                        +svg('checkbox')
                    .checkbox-text.checkbox-text--small
                        | Согласен на <a href="#">получение маркетинговых рассылок</a>
                br
                br
                br
                h2 Радиокнопки
                br
                label.radio
                    input(type="radio" name="radio-big").radio-input
                    .radio-box
                    .radio-text.radio-text--big Текст
                br
                label.radio
                    input(type="radio" name="radio-big" checked).radio-input
                    .radio-box
                    .radio-text.radio-text--big Текст
                br
                br
                label.radio
                    input(type="radio" name="radio-small").radio-input
                    .radio-box
                    .radio-text.radio-text--small Текст
                br
                label.radio
                    input(type="radio" name="radio-small" checked).radio-input
                    .radio-box
                    .radio-text.radio-text--small Текст
                br
                br
                br
                h2 Селект
                br
                select(placeholder="Дескриптор").select
                    option
                    option Описание инпута 1
                    option Описание инпута 2
                    option Описание инпута 3
                    option Описание инпута 4
                    option Описание инпута 5
            .col-md-2
                h2 Тумблер
                br
                label.tumblr
                    input(type="checkbox").tumblr-input
                    .tumblr-caption Текст
                    .tumblr-box
                    .tumblr-caption Текст
                br
                br
                label.tumblr
                    input(type="checkbox" checked).tumblr-input
                    .tumblr-caption Текст
                    .tumblr-box
                    .tumblr-caption Текст



