main.test
    .container
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusamus architecto autem commodi corporis dolores eius eligendi eveniet ex ipsum laborum, minima mollitia porro quisquam similique veniam voluptate voluptates.