extends pug/base

prepend vars
    //-

append vars
    //-

block content
    include pug/data

    .site
        +header()
        include pug/pages/test
        include pug/components/footer

    include pug/components/analytics
