

html {
	position: relative;
	// overflow-x: hidden;
	min-height: 100vh;
	box-sizing: border-box;
	font-family: $font-primary;
	scroll-behavior: smooth;
	box-sizing: border-box;

	&.has-cursor,
	&.has-cursor * {
		// stylelint-disable-next-line
		cursor: none !important;
	}

	&.is-lock-scroll,
	&.is-lock-scroll body {
		overflow: hidden;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	text-decoration-skip: objects;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

main {
	flex: 1;
}

p {
	margin: 0;
}

a,
button {
	outline: none;
	transition: $duration-normal;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: currentColor;
}

svg {
	display: block;
	flex: 0 0 auto;
	width: 100%;
	height: 100%;
	fill: currentColor;
}

figure,
picture {
	display: inline-block;
	margin: 0;
	line-height: 0;

	img {
		width: 100%;
	}
}

img {
	vertical-align: top;
	max-width: 100%;
	user-select: none;
}

img[draggable="false"] {
	pointer-events: none;
	// stylelint-disable-next-line
	-webkit-user-drag: none;
}

fieldset {
	margin: 0;
	border: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

button {
	padding: 0;
	border: none;
	background: none;
	color: inherit;
}

video {
	outline: none;
	width: 100%;
	height: 100%;
}

iframe {
	display: block;
}

.btn {
	font-size: 16px;
	line-height: 1.12;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	display: inline-block;
	border-radius: 4px;
	padding: 19px 23px;
	font-weight: 400;
	&-primary {
		border: 1px solid transparent;
		color: $color-white;
		background: $color-dark-golden;

		&:hover {
			background: $color-beige;
		}

		&:disabled,
		&.is-disabled {
			pointer-events: none;
			opacity: 0.4;
		}
	}

	&-secondary {
		border: 1px solid $color-dark-golden;
		color: $color-dark-golden;

		&:hover {
			box-shadow: 0 4px 15px rgba(51, 51, 51, 0.15);
			border-color: $color-beige;
		}

		&:disabled,
		&.is-disabled {
			pointer-events: none;
			color: $color-beige;
			border-color: $color-beige;
			opacity: 0.4;
		}
	}

	&-darken {
		border: 1px solid $color-white;
		color: $color-white;

		&:hover {
			background-color: $color-white;
			color: $color-dark-golden;
		}

		&:disabled,
		&.is-disabled {
			pointer-events: none;
			opacity: 0.4;
		}
	}
}

.js-lazy-load:not(.is-loaded) {
	max-height: 50vh;
}

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh; // fallback
	// stylelint-disable-next-line
	min-height: var(--vh);
}

/* stylelint-disable */
/*
* Немедленно переместите любую анимацию в конечную точку, если пользователь установил свое устройство в положение "prefers reduced motion".
* Это может привести к плохим(непреднамеренным) последствиям. Удалите по мере необходимости и напишите свой собственный код для prefers-reduced-motion.
*/
@media (prefers-reduced-motion: reduce) {
	*,
	*:before,
	*:after {
		animation-duration: 0.001s !important;
		animation-delay: 0s !important;
		transition-duration: 0.001s !important;
		transition-delay: 0s !important;
	}
}
/* stylelint-enable */
