.is-hidden {
	opacity: 0;
	overflow: hidden;
}

.fz-0 {
	font-size: 0;
	line-height: 0;
}

.mb-120 {
	margin-bottom: 120px;
	@include media-breakpoint-down(md) {
		margin-bottom: 80px;
	}
}
.mt-120 {
	margin-top: 120px;
	@include media-breakpoint-down(md) {
		margin-top: 80px;
	}
}

.mb-60 {
	margin-bottom: 60px;
	@include media-breakpoint-down(md) {
		margin-bottom: 36px;
	}
}
.mt-60 {
	margin-top: 60px;
	@include media-breakpoint-down(md) {
		margin-top: 36px;
	}
}

.mb-48 {
	margin-bottom: 48px;
	@include media-breakpoint-down(md) {
		margin-bottom: 24px;
	}
}
.mt-48 {
	margin-top: 48px;
	@include media-breakpoint-down(md) {
		margin-top: 24px;
	}
}

.mb-24 {
	margin-bottom: 24px;
	@include media-breakpoint-down(md) {
		margin-bottom: 12px;
	}
}
.mt-24 {
	margin-top: 24px;
	@include media-breakpoint-down(md) {
		margin-top: 12px;
	}
}

.mb-12 {
	margin-bottom: 12px;
}
.mt-12 {
	margin-top: 12px;
}


