h1, .h1 {
	
}

h2, .h2 {
	font-family: $font-secondary;
	font-style: normal;
	font-weight: 400;
	font-size: 47px;
	line-height: 0.91;
	margin: 0;

	@include media-breakpoint-down(lg) {
		font-size: 30px;
		line-height: 1.07;
	}
}

h3, .h3 {
	margin: 0;
	font-family: $font-secondary;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	@include media-breakpoint-down(md) {
		font-size: 19px;
		line-height: 1.16;
		color: $color-black;
	}
}

.menu-item {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.12;

	@include media-breakpoint-only(lg) {
		font-size: 14px;
	}
}

a.menu-item:hover {
	color: $color-dark-golden;
}

.link {
	letter-spacing: 0.5px;
	font-weight: 400;
	text-transform: uppercase;
	display: inline-flex;
	align-items: center;
	&-primary {
		color: $color-dark-golden;
		transition: color $duration-normal $easing-out;
		&:hover {
			color: $color-accent;
		}
	}
	&-photo {
		color: $color-white;
		transition: color $duration-normal $easing-out;
		&:hover {
			color: $color-space-gray;
		}
	}

	&--big {
		font-size: 16px;
		line-height: 1.12;
		padding: 12px 0;
		@include media-breakpoint-only(xs) {
			font-size: 14px;
			line-height: 1.29;
		}
	}

	&--small {
		font-size: 10px;
		line-height: 1.8;
		padding: 6px 0;
	}

	&-personal {
		font-weight: 300;
		font-size: 14px;
		line-height: 1.29;
		text-decoration-line: underline;
	}

	&-icon {
		width: 24px;
		height: 24px;
		margin-right: 4px;
		margin-top: -2px;
	}
}

.link-or-text {
	font-weight: 300;
	font-size: 14px;
	line-height: 1.29;
	&--underline {
		text-decoration: underline;
		text-decoration-skip-ink: none;
	}
}

.tag {
	font-weight: 300;
	font-size: 12px;
	line-height: 1.25;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: $color-silver-brown;
}

.favorite {
	&-icon {
		stroke: currentColor;
		fill: transparent;

		transition: fill $duration-normal $easing-out;
	}

	//&-icon--btn:hover &-icon {
	//	fill: currentColor;
	//}

	&-icon--btn.is-active &-icon {
		fill: currentColor;
	}

	//&-icon--btn.is-active:hover &-icon {
	//	fill: none;
	//}
}

.counter {
	position: absolute;
	top: -4px;
	right: -10px;
	font-weight: 300;
	font-size: 12px;
	line-height: 1.25;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	width: 22px;
	height: 22px;
	color: $color-white;
	background-color: transparentize($color-dark-golden, 0.05);
	padding: 3px 0 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	pointer-events: none;
}

.form {
	&-row {
		margin-bottom: 24px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&-control {
		position: relative;

		&--input {
			width: 100%;
			padding: 16px 11px;
			font-size: 14px;
			line-height: 1.29;
			font-family: $font-primary;
			border: 1px solid $color-dark-golden;
			background: #FFF;
			outline: none;
			border-radius: 4px;
			transition: padding 0.3s;
			color: $color-black;
			font-weight: 300;
			&::placeholder {
				color: transparent;
			}
			&:not(:placeholder-shown) {
				padding: 22px 11px 10px;
				& + .form-control--label {
					padding: 10px 11px 22px;
					font-size: 12px;
				}
			}

			&--phone {
				padding: 22px 11px 10px !important;
				& + .form-control--label {
					padding: 8px 11px 22px !important;
					font-size: 12px;
				}
				&::placeholder {
					color: $color-black;
				}
			}
		}
		&--label {
			pointer-events: none;
			position: absolute;
			color: #98938C;
			top: 0;
			left: 0;
			border: 1px solid transparent;
			padding: 16px 11px;
			font-size: 14px;
			line-height: 1.29;
			transition: padding 0.3s, font-size 0.3s;
			font-weight: 300;
		}
		&--icon {
			width: 24px;
			position: absolute;
			top: 0;
			bottom: 0;
			color: $color-cold-brown;
		}

		&--icon-left &--icon {
			left: 12px;
		}

		&--icon-left &--input,
		&--icon-left &--label {
			padding: 19px 11px 19px 44px;
		}
		&--icon-left &--input{
			&:not(:placeholder-shown) {
				padding: 28px 11px 10px 44px;
				& + .form-control--label {
					padding: 10px 11px 28px 44px;
				}
			}
		}

		&--icon-right &--icon {
			right: 12px;
		}

		&--icon-right &--input,
		&--icon-right &--label {
			padding: 19px 44px 19px 11px;
		}
		&--icon-right &--input{
			&:not(:placeholder-shown) {
				padding: 28px 44px 10px 11px;
				& + .form-control--label {
					padding: 10px 44px 28px 11px;
				}
			}
		}

		&--notify {
			font-size: 12px;
			line-height: 1.33;
			color: #98938C;
			font-weight: 300;
			margin-top: 4px;
		}

		&.is-disabled {
			pointer-events: none;
			.form-control {
				color: $color-silver-brown;
				&--icon {
					color: $color-silver-brown;
				}
				&--input {
					color: $color-silver-brown;
					border-color: $color-space-gray;
				}
				&--label {
					color: $color-space-gray;
				}
			}
		}
		&.is-error {
			.form-control {
				color: $color-system-red;
				&--input {
					border-color: $color-system-red;
				}
			}
		}
		&--notify.is-error {
			display: none;
		}
		&.is-error ~ &--notify.is-error {
			display: block;
			color: $color-system-red;
		}

		&--file {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
		}
	}
	.info-top {
		color: $color-silver-brown;
		font-family: $font-primary;
		font-size: 12px;
		letter-spacing: -0.1px;
	}
}

.checkbox {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	&-input {
		width: 1px;
		height: 1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
	}
	&-box {
		flex: 0 0 16px;
		width: 16px;
		height: 16px;
		border-radius: 2px;
		color: #FFF;
		transition: background-color $duration-normal $easing-out;
		position: relative;

		&:before {
			content: "";
			border: 1px solid $color-beige;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-radius: 2px;
			transition: border-color $duration-normal $easing-out;
		}
	}
	&-text {
		line-height: 1.33;
		margin-left: 6px;
		font-weight: 300;
		color: $color-silver-brown;
		transition: color $duration-normal $easing-out;
		&--big {
			font-size: 18px;
		}
		&--small {
			font-size: 12px;
		}
		a {
			text-decoration: underline;
			text-decoration-thickness: from-font;
			text-decoration-skip-ink: none;
		}
	}

	&-input:checked + &-box {
		background-color: $color-dark-golden;
		&:before {
			border-color: $color-dark-golden;
		}
	}

	&-input:checked + &-box + &-text {
		color: $color-cold-brown;
	}

	&-input:disabled + &-box,
	&-input:disabled + &-box + &-text {
		opacity: 0.3;
	}
}

.radio {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	&-input {
		width: 1px;
		height: 1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
	}
	&-box {
		flex: 0 0 16px;
		width: 16px;
		height: 16px;
		border-radius: 100%;
		color: #FFF;
		position: relative;
		border: 1px solid $color-beige;

		&:before {
			content: "";
			position: absolute;
			top: 3px;
			right: 3px;
			bottom: 3px;
			left: 3px;
			border-radius: 100%;
			transition: background-color $duration-normal $easing-out;
			background-color: transparent;
		}
	}
	&-text {
		line-height: 1.33;
		margin-left: 6px;
		font-weight: 300;
		color: $color-silver-brown;
		transition: color $duration-normal $easing-out;
		&--big {
			font-size: 18px;
		}
		&--small {
			font-size: 14px;
			line-height: 1.07;
		}
	}

	&-input:checked + &-box {
		border-color: $color-dark-golden;
		&:before {
			background-color: $color-dark-golden;
		}
	}

	&-input:checked + &-box + &-text {
		color: $color-cold-brown;
	}
}

.tumblr {
	display: inline-flex;
	align-items: center;
	cursor: pointer;

	&-input {
		opacity: 0;
		width: 1px;
		height: 1px;
		overflow: hidden;
		position: absolute;
	}
	&-caption {
		font-size: 14px;
		line-height: 1.29;
		color: $color-silver-brown;
		margin-right: 8px;
		transition: color $duration-normal $easing-out;
		&:last-child {
			margin-right: 0;
			margin-left: 8px;
		}
	}
	&-box {
		width: 36px;
		height: 20px;
		background: #EBEBEB;
		border-radius: 50px;
		position: relative;
		transition: background $duration-normal $easing-out;
		&:before {
			content: "";
			width: 16px;
			height: 16px;
			top: 2px;
			left: 2px;
			background: $color-white;
			position: absolute;
			display: block;
			border-radius: 100%;
			transition: left $duration-normal $easing-out;
		}
	}
	&-input:checked ~ &-box {
		background: $color-dark-golden;
		&:before {
			left: 18px;
		}
	}
	&-input:checked ~ &-caption {
		color: $color-dark-golden;
	}
}

.list {
	li {
		padding-left: 27px;
		position: relative;
		margin-bottom: 8px;
		color: $color-black;
		&:last-child {
			margin-bottom: 0;
		}
		&:before {
			content: "";
			width: 2px;
			height: 2px;
			border-radius: 2px;
			background: currentColor;
			position: absolute;
			display: block;
			left: 12px;
			top: 10px;
		}
	}
}

.arrow {
	width: 48px;
	height: 48px;
	padding: 12px;
	background: #EDEDED;
	border-radius: 100%;
	&.slick-disabled {
		opacity: 0;
		pointer-events: none;
	}
}

.slick-dots {
	margin-top: 60px;
	display: flex;
	justify-content: center;

	@include media-breakpoint-down(md) {
		display: none !important;
	}

	li {
		flex: 0 0 12px;

		margin-right: 8px;
		&:last-child {
			margin-right: 0;
		}

		button {
			width: 12px;
			height: 12px;
			display: block;
			font-size: 0;
			background-color: $color-space-gray;
			border-radius: 100%;
		}

		&.slick-active button {
			background: $color-dark-golden;
		}
	}
}

.progress {
	background-image: linear-gradient(to right, $color-dark-golden, $color-dark-golden);
	background-repeat: no-repeat;
	background-size: 0 100%;
	border-radius: 2px;
	height: 100%;
	transition: background-size $duration-normal $easing-out;

	&-wrapper {
		display: block;
		width: 100px;
		height: 9px;
		border-radius: 2px;
		overflow: hidden;
		background-color: #F4F4F4;
		padding: 2px;
		margin: 36px auto 0;
		@include media-breakpoint-up(md) {
			display: none;
		}
	}
}

.typography-main {
	font-weight: 300;
	font-size: 18px;
	line-height: 1.33;
	color: #2C2C2C;
	p {
		margin-bottom: 12px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.return-link {
	display: flex;
	align-items: center;
	&--icon {
		height: 24px;
		width: 24px;
		flex: 0 0 24px;
	}
	&--text {
		color: $color-black;
		letter-spacing: 0.5px;
		font-weight: 300;
		font-size: 14px;
		line-height: 1.29;
		text-transform: uppercase;
	}
}