h1, .h1 {

}

h2, .h2 {
	font-family: $font-secondary;
	font-style: normal;
	font-weight: 400;
	font-size: 47px;
	line-height: 0.91;
	color: $color-black;
	margin: 0;

	@include media-breakpoint-down(md) {
		font-size: 30px;
		line-height: 1.07;
	}
}

.menu-item {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.12;
	&:hover {
		color: $color-dark-golden;
	}
}

.link {
	letter-spacing: 0.5px;
	font-weight: 400;
	text-transform: uppercase;
	display: inline-block;
	&-primary {
		color: $color-dark-golden;
		transition: color $duration-normal $easing-out;
		&:hover {
			color: $color-accent;
		}
	}
	&-photo {
		color: $color-white;
		transition: color $duration-normal $easing-out;
		&:hover {
			color: $color-space-gray;
		}
	}

	&--big {
		font-size: 16px;
		line-height: 1.12;
		padding: 12px 0;
		@include media-breakpoint-only(xs) {
			font-size: 14px;
			line-height: 1.29;
		}
	}

	&--small {
		font-size: 10px;
		line-height: 1.8;
		padding: 6px 0;
	}

	&-personal {
		font-weight: 300;
		font-size: 14px;
		line-height: 1.29;
		text-decoration-line: underline;
	}
}

.favorite-icon {
	stroke: currentColor;
	fill: transparent;

	transition: fill $duration-normal $easing-out;

	&:hover {
		fill: currentColor;
	}

	&.is-active {
		fill: currentColor;
		&:hover {
			fill: none;
		}
	}
}

.counter {
	position: absolute;
	top: -4px;
	right: -10px;
	font-weight: 300;
	font-size: 12px;
	line-height: 1.25;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	width: 22px;
	height: 22px;
	color: $color-white;
	background-color: transparentize($color-dark-golden, 0.05);
	padding: 3px 0 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	pointer-events: none;
}

.form {
	&-row {
		margin-bottom: 24px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&-control {
		position: relative;

		&--input {
			width: 100%;
			padding: 16px 11px;
			font-size: 14px;
			line-height: 1.29;
			font-family: $font-primary;
			border: 1px solid $color-dark-golden;
			background: #FFF;
			outline: none;
			border-radius: 4px;
			transition: padding 0.3s;
			color: $color-black;
			font-weight: 300;
			&::placeholder {
				color: transparent;
			}
			&:not(:placeholder-shown) {
				padding: 22px 11px 10px;
				& + .form-control--label {
					padding: 10px 11px 22px;
					font-size: 12px;
				}
			}
		}
		&--label {
			pointer-events: none;
			position: absolute;
			color: #98938C;
			top: 0;
			left: 0;
			border: 1px solid transparent;
			padding: 16px 11px;
			font-size: 14px;
			line-height: 1.29;
			transition: padding 0.3s, font-size 0.3s;
			font-weight: 300;
		}
		&--icon {
			width: 24px;
			position: absolute;
			top: 0;
			bottom: 0;
			color: $color-cold-brown;
		}

		&--icon-left &--icon {
			left: 12px;
		}

		&--icon-left &--input,
		&--icon-left &--label {
			padding: 19px 11px 19px 44px;
		}
		&--icon-left &--input{
			&:not(:placeholder-shown) {
				padding: 28px 11px 10px 44px;
				& + .form-control--label {
					padding: 10px 11px 28px 44px;
				}
			}
		}

		&--icon-right &--icon {
			right: 12px;
		}

		&--icon-right &--input,
		&--icon-right &--label {
			padding: 19px 44px 19px 11px;
		}
		&--icon-right &--input{
			&:not(:placeholder-shown) {
				padding: 28px 44px 10px 11px;
				& + .form-control--label {
					padding: 10px 44px 28px 11px;
				}
			}
		}

		&--notify {
			font-size: 12px;
			line-height: 1.33;
			color: #98938C;
			font-weight: 300;
			margin-top: 4px;
		}

		&.is-disabled {
			pointer-events: none;
			.form-control {
				color: $color-silver-brown;
				&--icon {
					color: $color-silver-brown;
				}
				&--input {
					color: $color-silver-brown;
					border-color: $color-space-gray;
				}
				&--label {
					color: $color-space-gray;
				}
			}
		}
		&.is-error {
			.form-control {
				color: $color-system-red;
				&--input {
					border-color: $color-system-red;
				}
			}
		}
		&.is-error + &--notify {
			color: $color-system-red;
		}
	}
}

.checkbox {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	&-input {
		width: 1px;
		height: 1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
	}
	&-box {
		flex: 0 0 16px;
		width: 16px;
		height: 16px;
		border-radius: 2px;
		color: #FFF;
		transition: background-color $duration-normal $easing-out;
		position: relative;

		&:before {
			content: "";
			border: 1px solid $color-beige;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-radius: 2px;
			transition: border-color $duration-normal $easing-out;
		}
	}
	&-text {
		line-height: 1.33;
		margin-left: 6px;
		font-weight: 300;
		color: $color-silver-brown;
		transition: color $duration-normal $easing-out;
		&--big {
			font-size: 18px;
		}
		&--small {
			font-size: 12px;
		}
		a {
			text-decoration: underline;
			text-decoration-thickness: from-font;
			text-decoration-skip-ink: none;
		}
	}

	&-input:checked + &-box {
		background-color: $color-dark-golden;
		&:before {
			border-color: $color-dark-golden;
		}
	}

	&-input:checked + &-box + &-text {
		color: $color-cold-brown;
	}
}

.radio {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	&-input {
		width: 1px;
		height: 1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
	}
	&-box {
		flex: 0 0 16px;
		width: 16px;
		height: 16px;
		border-radius: 100%;
		color: #FFF;
		position: relative;
		border: 1px solid $color-beige;

		&:before {
			content: "";
			position: absolute;
			top: 3px;
			right: 3px;
			bottom: 3px;
			left: 3px;
			border-radius: 100%;
			transition: background-color $duration-normal $easing-out;
			background-color: transparent;
		}
	}
	&-text {
		line-height: 1.33;
		margin-left: 6px;
		font-weight: 300;
		color: $color-silver-brown;
		transition: color $duration-normal $easing-out;
		&--big {
			font-size: 18px;
		}
		&--small {
			font-size: 14px;
			line-height: 1.07;
		}
	}

	&-input:checked + &-box {
		border-color: $color-dark-golden;
		&:before {
			background-color: $color-dark-golden;
		}
	}

	&-input:checked + &-box + &-text {
		color: $color-cold-brown;
	}
}

.tumblr {
	display: inline-flex;
	align-items: center;
	cursor: pointer;

	&-input {
		opacity: 0;
		width: 1px;
		height: 1px;
		overflow: hidden;
		position: absolute;
	}
	&-caption {
		font-size: 14px;
		line-height: 1.29;
		color: $color-silver-brown;
		margin-right: 8px;
		transition: color $duration-normal $easing-out;
		&:last-child {
			margin-right: 0;
			margin-left: 8px;
		}
	}
	&-box {
		width: 36px;
		height: 20px;
		background: #EBEBEB;
		border-radius: 50px;
		position: relative;
		transition: background $duration-normal $easing-out;
		&:before {
			content: "";
			width: 16px;
			height: 16px;
			top: 2px;
			left: 2px;
			background: $color-white;
			position: absolute;
			display: block;
			border-radius: 100%;
			transition: left $duration-normal $easing-out;
		}
	}
	&-input:checked ~ &-box {
		background: $color-dark-golden;
		&:before {
			left: 18px;
		}
	}
	&-input:checked ~ &-caption {
		color: $color-dark-golden;
	}
}